Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @hexf00, @VicKun4937, @weird94, @Dushusir, @wpxp123456, @Jocs, @siam-ese, @ybzky, @yuhongz, @DR-Univer

fix(image-cache): ensure new image elements handle loading errors and set error attribute
  packages/core/src/shared/cache/image-cache.ts
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @jikkai, @Jocs

fix(image-cache): remove error attribute on successful image load
  packages/core/src/shared/cache/image-cache.ts
Owners: @jikkai

fix(engine-render): render fallback image when cell image renderer-error (#5449)
  packages/core/src/shared/cache/image-cache.ts
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @jikkai, @Jocs

refactor(font): move image fallback initialization to constructor for better encapsulation
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

refactor(engine-render): move image fallback initialization to constructor in Font class
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

refactor(engine-render): move image fallback initialization to constr… (#5451)
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

chore: fix filter panel auto height
  packages/sheets-filter-ui/src/views/components/SheetsFilterByConditionsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterByValuesPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @ybzky, @yuhongz

feat(ui): support the registration of custom components built with vue3 / web component (#5440)
  common/shared/package.json
  common/shared/vite/data.ts
  examples/esbuild.config.ts
  examples/package.json
  examples/src/sheets/main.ts
  package.json
  packages-experimental/debugger/package.json
  packages-experimental/debugger/src/components/VueComponent.vue
  packages-experimental/debugger/src/components/WebComponent.ts
  packages-experimental/debugger/src/controllers/debugger.controller.ts
  packages/ui-adapter-vue3/README.md
  packages/ui-adapter-vue3/package.json
  packages/ui-adapter-vue3/src/index.ts
  packages/ui-adapter-vue3/src/plugin.ts
  packages/ui-adapter-vue3/tsconfig.json
  packages/ui-adapter-vue3/tsconfig.node.json
  packages/ui-adapter-vue3/vitest.config.ts
  packages/ui-adapter-web-component/README.md
  packages/ui-adapter-web-component/package.json
  packages/ui-adapter-web-component/src/index.ts
  packages/ui-adapter-web-component/src/plugin.ts
  packages/ui-adapter-web-component/tsconfig.json
  packages/ui-adapter-web-component/tsconfig.node.json
  packages/ui-adapter-web-component/vitest.config.ts
  packages/ui/src/common/component-manager.ts
  pnpm-lock.yaml
Owners: @jikkai

feat: use portal to show filter panel (#5446)
  packages/sheets-table-ui/src/controllers/sheet-table-component.controller.ts
Owners: none

fix: hyper-link tooltip display far away of the cell bound
  packages/sheets-ui/src/services/hover-manager.service.ts
Owners: @jikkai

fix(sheets-hyper-link-ui): hyper-link tooltip display far away of the cell bound (#5456)
  packages/sheets-ui/src/services/hover-manager.service.ts
Owners: @jikkai

fix(sheets):Fixed the issue where all Sheet columns were modified after using customizeColumnHeader.
  examples/src/sheets/main.ts
  packages/engine-render/src/components/sheets/column-header.ts
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
Owners: @Jocs

fix(sheets): fixed the issue of sheet customizeColumnHeader
  examples/src/sheets/main.ts
  packages/engine-render/src/components/sheets/column-header.ts
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
Owners: @Jocs

fix: handle broken image state in font rendering
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

feat: u
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

fix(engine-render): handle broken image state in font rendering (#5459)
  packages/engine-render/src/components/sheets/extensions/font.ts
Owners: @Jocs

fix(facade): fix customizeColumnHeader and customizeRowHeader api
  packages/engine-render/src/components/sheets/column-header.ts
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/extensions/row-header-layout.ts
  packages/engine-render/src/components/sheets/row-header.ts
  packages/sheets-ui/src/commands/commands/headersize-changed.command.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
Owners: @Jocs, @jikkai, @weird94, @VicKun4937

fix(facade): fix customizeColumnHeader and customizeRowHeader api (#5460)
  packages/engine-render/src/components/sheets/column-header.ts
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/extensions/row-header-layout.ts
  packages/engine-render/src/components/sheets/row-header.ts
  packages/sheets-ui/src/commands/commands/headersize-changed.command.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
Owners: @Jocs, @jikkai, @weird94, @VicKun4937

chore: add custom-shortcut example
  examples/src/sheets/custom-plugin/custom-shortcut/commands/commands/custom.command.ts
  examples/src/sheets/custom-plugin/custom-shortcut/controllers/shortcuts/custom.shortcut.ts
  examples/src/sheets/custom-plugin/custom-shortcut/index.ts
  examples/src/sheets/custom-plugin/custom-shortcut/plugin.ts
  examples/src/sheets/main.ts
Owners: none

chore: fix filter panel auto height (#5452)
  packages/sheets-filter-ui/src/views/components/SheetsFilterByConditionsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterByValuesPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @ybzky, @yuhongz

chore: add custom-shortcut example (#5465)
  examples/src/sheets/custom-plugin/custom-shortcut/commands/commands/custom.command.ts
  examples/src/sheets/custom-plugin/custom-shortcut/controllers/shortcuts/custom.shortcut.ts
  examples/src/sheets/custom-plugin/custom-shortcut/index.ts
  examples/src/sheets/custom-plugin/custom-shortcut/plugin.ts
  examples/src/sheets/main.ts
Owners: none

build: add ignoreImports option to obfuscation process
  common/shared/vite/utils.ts
Owners: @jikkai

build: add ignoreImports option to obfuscation process (#5469)
  common/shared/vite/utils.ts
Owners: @jikkai

fix(plugin): prevent passing undefined or null props to Vue component
  common/shared/package.json
  examples/src/sheets/custom-plugin/custom-shortcut/plugin.ts
  package.json
  packages-experimental/uni-sheets-ui/src/views/uni-sheet-bar/UniSheetBar.tsx
  packages-experimental/uni-slides-ui/src/views/UniSlideSideBar.tsx
  packages-experimental/uniui/src/views/uni-toolbar/UniFormulaBar.tsx
  packages/design/src/components/color-picker/ColorInput.tsx
  packages/design/src/components/dialog/DialogPrimitive.tsx
  packages/design/src/components/dropdown-menu/DropdownMenuPrimitive.tsx
  packages/design/src/components/hover-card/HoverCardPrimitive.tsx
  packages/docs-ui/src/views/paragraph-setting/Setting.tsx
  packages/find-replace/src/views/dialog/FindReplaceDialog.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/ColorScale.tsx
  packages/sheets-crosshair-highlight/src/views/components/CrosshairHighlight.tsx
  packages/ui-adapter-vue3/src/plugin.ts
  packages/ui/src/components/slider/Slider.tsx
  pnpm-lock.yaml
Owners: @jikkai, @Jocs, @siam-ese, @VicKun4937

fix(design): remove unused @tailwind base directive from global.css
  packages/design/src/global.css
Owners: @jikkai

fix(design): remove unused @tailwind base directive from global.css (#5472)
  packages/design/src/global.css
Owners: @jikkai

fix(plugin): prevent passing undefined or null props to Vue component (#5470)
  common/shared/package.json
  examples/src/sheets/custom-plugin/custom-shortcut/plugin.ts
  package.json
  packages-experimental/uni-sheets-ui/src/views/uni-sheet-bar/UniSheetBar.tsx
  packages-experimental/uni-slides-ui/src/views/UniSlideSideBar.tsx
  packages-experimental/uniui/src/views/uni-toolbar/UniFormulaBar.tsx
  packages/design/src/components/color-picker/ColorInput.tsx
  packages/design/src/components/dialog/DialogPrimitive.tsx
  packages/design/src/components/dropdown-menu/DropdownMenuPrimitive.tsx
  packages/design/src/components/hover-card/HoverCardPrimitive.tsx
  packages/docs-ui/src/views/paragraph-setting/Setting.tsx
  packages/find-replace/src/views/dialog/FindReplaceDialog.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/ColorScale.tsx
  packages/sheets-crosshair-highlight/src/views/components/CrosshairHighlight.tsx
  packages/ui-adapter-vue3/src/plugin.ts
  packages/ui/src/components/slider/Slider.tsx
  pnpm-lock.yaml
Owners: @jikkai, @Jocs, @siam-ese, @VicKun4937

fix(docs-ui): add return type to useResize function
  packages/docs-ui/src/views/rich-text-editor/hooks/use-resize.ts
Owners: @jikkai, @Jocs

fix(docs-ui): add return type to useResize function (#5473)
  packages/docs-ui/src/views/rich-text-editor/hooks/use-resize.ts
Owners: @jikkai, @Jocs

fix(ui-adapter): remove react dependency from ui adapter packages
  packages-experimental/debugger/src/components/VueComponent.vue
  packages-experimental/debugger/src/components/WebComponent.ts
  packages-experimental/debugger/src/controllers/debugger.controller.ts
  packages/ui-adapter-vue3/package.json
  packages/ui-adapter-vue3/src/plugin.ts
  packages/ui-adapter-web-component/package.json
  packages/ui-adapter-web-component/src/plugin.ts
  packages/ui/src/common/component-manager.ts
  pnpm-lock.yaml
Owners: @jikkai

fix(ui-adapter): remove react dependency from ui adapter packages (#5474)
  packages-experimental/debugger/src/components/VueComponent.vue
  packages-experimental/debugger/src/components/WebComponent.ts
  packages-experimental/debugger/src/controllers/debugger.controller.ts
  packages/ui-adapter-vue3/package.json
  packages/ui-adapter-vue3/src/plugin.ts
  packages/ui-adapter-web-component/package.json
  packages/ui-adapter-web-component/src/plugin.ts
  packages/ui/src/common/component-manager.ts
  pnpm-lock.yaml
Owners: @jikkai

chore(storybook): update dependencies to latest versions
  common/storybook/.storybook/main.ts
  common/storybook/package.json
  eslint.config.ts
  package.json
  packages/core/package.json
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/components/docs/layout/doc-skeleton.ts
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @jikkai, @Jocs, @ybzky, @yuhongz

fix: fix types
  packages/design/src/components/toaster/Toaster.tsx
  packages/ui/src/components/notification/Notification.stories.tsx
Owners: @jikkai

chore(storybook): update dependencies to latest versions (#5476)
  common/storybook/.storybook/main.ts
  common/storybook/package.json
  eslint.config.ts
  package.json
  packages/core/package.json
  packages/core/src/sheets/sheet-skeleton.ts
  packages/design/src/components/toaster/Toaster.tsx
  packages/engine-render/src/components/docs/layout/doc-skeleton.ts
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/ui/src/components/notification/Notification.stories.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @jikkai, @Jocs, @ybzky, @yuhongz

fix: fixed the auto-fill handle button cannot appear
  packages/sheets-formula/src/controllers/array-formula-cell-interceptor.controller.ts
  packages/sheets/src/controllers/calculate-result-apply.controller.ts
Owners: @DR-Univer, @wpxp123456, @Dushusir, @VicKun4937

fix: fixed the auto-fill handle button cannot appear (#5478)
  packages/sheets-formula/src/controllers/array-formula-cell-interceptor.controller.ts
  packages/sheets/src/controllers/calculate-result-apply.controller.ts
Owners: @DR-Univer, @wpxp123456, @Dushusir, @VicKun4937

fix: fix BackSpace cannot fallback and delete after triggering formula through fx
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
Owners: @jikkai

fix: fix BackSpace cannot fallback and delete after triggering formula through fx (#5477)
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
Owners: @jikkai

style(table): fix table filter panel style
  packages/sheets-table-ui/src/views/components/SheetTableFilterPanel.tsx
Owners: none

style(table): fix table filter panel style (#5480)
  packages/sheets-table-ui/src/views/components/SheetTableFilterPanel.tsx
Owners: none

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @jikkai

CONTRIBUTING.md @jikkai

## core & fundamental

packages/core @jikkai
packages/core/src/services/resource-loader @VicKun4937
packages/core/src/services/resource-manager @VicKun4937
packages/core/src/services/permission @VicKun4937
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wpxp123456
packages/engine-numfmt @VicKun4937
packages/engine-render @Jocs
packages/engine-render/components/docs @Jocs
packages/find-replace @siam-ese
packages/network @jikkai
packages/rpc @jikkai
packages/rpc-node @jikkai
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @jikkai
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @VicKun4937
packages/sheets-conditional-formatting @VicKun4937
packages/sheets-conditional-formatting-ui @VicKun4937
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wpxp123456 @Dushusir
packages/sheets-formula-ui @DR-Univer @wpxp123456 @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @VicKun4937
packages/sheets-numfmt-ui @VicKun4937
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @VicKun4937
packages/sheets/src/services/ref-range @VicKun4937
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @VicKun4937

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz
