Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix(formula): get calculation mode
  packages/sheets-formula/src/controllers/trigger-calculation.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

chore(formula): observer complete when dispose
  packages/engine-formula/src/services/defined-names.service.ts
Owners: @Dushusir, @wzhudev

fix(formula): formula update after hide row column
  packages/sheets-formula-ui/src/controllers/__tests__/update-formula.controller.spec.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix(formula): remove hide column dirty range
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @VicKun4937

fix(filter): register formula dirty range
  packages/engine-formula/src/services/current-data.service.ts
  packages/sheets-filter/package.json
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/plugin.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
  pnpm-lock.yaml
Owners: @Dushusir, @wzhudev, @ybzky, @yuhongz, @DR-Univer

fix(formula): get hidden rows by filter
  packages/engine-formula/src/basics/common.ts
  packages/engine-formula/src/controller/calculate.controller.ts
  packages/engine-formula/src/index.ts
  packages/engine-formula/src/models/formula-data.model.ts
  packages/engine-formula/src/services/current-data.service.ts
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
  packages/sheets-formula/src/controllers/trigger-calculation.controller.ts
  packages/sheets-formula/src/controllers/update-formula.controller.ts
Owners: @Dushusir, @wzhudev, @ybzky, @yuhongz, @DR-Univer

fix(formula): add e2e test
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts
  packages-experimental/debugger/src/controllers/e2e/e2e.controller.ts
Owners: none

fix(filter): test with dirty range
  packages/sheets-filter-ui/package.json
  packages/sheets-filter-ui/src/commands/commands/__tests__/sheets-filter.command.spec.ts
  packages/sheets-filter-ui/src/commands/operations/__tests__/sheets-filter.operation.spec.ts
  packages/sheets-filter-ui/src/controllers/__tests__/sheets-filter.menu.spec.ts
  packages/sheets-filter-ui/src/services/__tests__/sheets-filter-panel.service.spec.ts
  pnpm-lock.yaml
Owners: @ybzky, @yuhongz

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-current-worksheet-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-other-worksheet-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-hide-row-current-worksheet-ci-chromium-linux.png
Owners: none

ci: eslint
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
Owners: @ybzky, @yuhongz

feat: update
  packages/watermark/src/facade/f-univer.ts
  packages/watermark/src/plugin.ts
Owners: @weird94, @VicKun4937, @ybzky

feat: update
  packages/engine-render/src/components/sheets/index.ts
Owners: @lumixraku

feat: update
  packages/watermark/src/controllers/config.schema.ts
Owners: @ybzky

feat: update
  packages-experimental/debugger/src/views/watermark/WatermarkImageSetting.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkPanel.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkPanelFooter.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkTextSetting.tsx
Owners: none

fix(sheets-formula-ui): edit other sheet range error (#4673)
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-left-and-right-arrow.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat(watermark): move watermark component to engine render (#4683)
  packages-experimental/debugger/src/views/watermark/WatermarkImageSetting.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkPanel.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkPanelFooter.tsx
  packages-experimental/debugger/src/views/watermark/WatermarkTextSetting.tsx
  packages/engine-render/src/components/sheets/index.ts
  packages/engine-render/src/components/sheets/watermark/index.ts
  packages/engine-render/src/components/sheets/watermark/type.ts
  packages/engine-render/src/components/sheets/watermark/util.ts
  packages/engine-render/src/components/sheets/watermark/watermark-layer.ts
  packages/watermark/src/common/const.ts
  packages/watermark/src/controllers/watermark.render.controller.ts
  packages/watermark/src/facade/f-univer.ts
  packages/watermark/src/index.ts
  packages/watermark/src/plugin.ts
  packages/watermark/src/services/watermark.service.ts
Owners: @lumixraku, @ybzky, @weird94, @VicKun4937

feat(sheets): remove rows support multiple ranges
  examples/src/sheets/main.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-transform-affected.controller.ts
  packages/sheets-filter/src/controllers/__tests__/sheets-filter.controller.spec.ts
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/models/__tests__/filter-interceptor.spec.ts
  packages/sheets-formula/src/controllers/utils/ref-range-formula.ts
  packages/sheets-formula/src/controllers/utils/ref-range-move.ts
  packages/sheets-formula/src/controllers/utils/ref-range-param.ts
  packages/sheets-formula/src/services/__test__/formula-ref.spec.ts
  packages/sheets-ui/src/commands/commands/remove-row-col-confirm.command.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets/src/commands/commands/__tests__/insert-remove-rows-cols.command.spec.ts
  packages/sheets/src/commands/commands/__tests__/remove-rows-cols.command.spec.ts
  packages/sheets/src/commands/commands/remove-row-col.command.ts
  packages/sheets/src/controllers/merge-cell.controller.ts
  packages/sheets/src/facade/f-worksheet.ts
  packages/sheets/src/index.ts
  packages/sheets/src/services/permission/range-permission/range-protection.ref-range.ts
  packages/sheets/src/services/ref-range/__tests__/utils.spec.ts
  packages/sheets/src/services/ref-range/__tests__/watch-range.spec.ts
  packages/sheets/src/services/ref-range/ref-range.service.ts
  packages/sheets/src/services/ref-range/util.ts
Owners: @ybzky, @yuhongz, @DR-Univer, @wzhudev, @Dushusir, @jikkai, @VicKun4937, @weird94

fix(sheets): merge cell update, test params
  packages/sheets-formula-ui/src/controllers/__tests__/update-defined-name.controller.spec.ts
  packages/sheets-formula-ui/src/controllers/__tests__/update-formula.controller.spec.ts
  packages/sheets/src/commands/commands/__tests__/insert-remove-rows-cols.command.spec.ts
  packages/sheets/src/commands/commands/remove-row-col.command.ts
  packages/sheets/src/controllers/merge-cell.controller.ts
  packages/sheets/src/facade/f-worksheet.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @VicKun4937, @weird94

fix(sheets): restore main
  examples/src/sheets/main.ts
Owners: none

fix(filter): add remove row col test case
  packages/sheets-filter/src/controllers/__tests__/sheets-filter.controller.spec.ts
Owners: @ybzky, @yuhongz

fix: use number value in stats calculation
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @jikkai, @wzhudev

fix: paste rich text with br should keep line break
  packages/sheets-ui/src/services/clipboard/html-to-usm/converter.ts
Owners: @yuhongz

fix: use number value in stats calculation (#4684)
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @jikkai, @wzhudev

fix(sheet): row column offset
  packages/sheets/src/commands/commands/remove-row-col.command.ts
Owners: @wzhudev, @VicKun4937

chore: icons
  common/shared/package.json
  packages-experimental/action-recorder/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/design/package.json
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/find-replace/src/controllers/find-replace.controller.ts
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @wzhudev, @Dushusir

docs(facade): supplement notes and example
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-filter.ts
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-find-replace/src/facade/f-text-finder.ts
  packages/sheets-find-replace/src/facade/f-univer.ts
  packages/sheets-formula/src/facade/f-formula.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-hyper-link-ui/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-hyper-link/src/facade/f-range.ts
  packages/sheets-hyper-link/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-worksheet.ts
  packages/sheets-numfmt/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

chore(snapshots): update snapshots
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  examples-node/src/sdk/index.ts
  package.json
Owners: @wzhudev, @jikkai

chore: update icons (#4685)
  common/shared/package.json
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  examples-node/src/sdk/index.ts
  package.json
  packages-experimental/action-recorder/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/design/package.json
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/find-replace/src/controllers/find-replace.controller.ts
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @Dushusir

docs(facade): supplement notes and example
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

fix: fix remove row with filtered rows
  packages/design/src/components/tooltip/Tooltip.tsx
  packages/design/src/components/tree/Tree.tsx
  packages/sheets/src/commands/commands/remove-row-col.command.ts
Owners: @jikkai, @wzhudev, @VicKun4937

fix: paste rich text with br should keep line break (#4670)
  packages/sheets-ui/src/services/clipboard/html-to-usm/converter.ts
Owners: @yuhongz

fix: fix eslint
  packages/core/src/types/interfaces/i-cell-custom-render.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/scene.ts
  packages/sheets-conditional-formatting-ui/src/controllers/cf.i18n.controller.ts
  packages/sheets-conditional-formatting/src/models/type.ts
  packages/sheets-data-validation-ui/src/views/components/list-dropdown/index.tsx
  packages/sheets-data-validation/src/models/rule-matrix.ts
  packages/sheets-drawing-ui/src/commands/commands/move-drawings.command.ts
  packages/sheets/src/basics/const/command-listener-const.ts
  packages/ui/src/components/hooks/virtual-list.ts
Owners: @wzhudev, @lumixraku, @Gggpound, @weird94, @VicKun4937, @jikkai, @Jocs

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @wzhudev

chore(snapshots): update snapshots
  CONTRIBUTING.md
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
Owners: @wzhudev

fix: fix eslint (#4687)
  CONTRIBUTING.md
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  packages/core/src/types/interfaces/i-cell-custom-render.ts
  packages/core/src/types/interfaces/i-document-data.ts
  packages/engine-render/src/scene.ts
  packages/sheets-conditional-formatting-ui/src/controllers/cf.i18n.controller.ts
  packages/sheets-conditional-formatting/src/models/type.ts
  packages/sheets-data-validation-ui/src/views/components/list-dropdown/index.tsx
  packages/sheets-data-validation/src/models/rule-matrix.ts
  packages/sheets-drawing-ui/src/commands/commands/move-drawings.command.ts
  packages/sheets/src/basics/const/command-listener-const.ts
  packages/ui/src/components/hooks/virtual-list.ts
Owners: @wzhudev, @lumixraku, @Gggpound, @weird94, @VicKun4937, @jikkai, @Jocs

chore: update import
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
Owners: @yuhongz

chore: update
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @ybzky, @yuhongz

fix: fix remove row with filtered rows
  packages/design/src/components/tooltip/Tooltip.tsx
  packages/design/src/components/tree/Tree.tsx
  packages/sheets/src/commands/commands/remove-row-col.command.ts
Owners: @jikkai, @wzhudev, @VicKun4937

chore: fix extra long display in filter panel
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @jikkai, @ybzky, @yuhongz

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
