Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix: fix style import
  packages/ui/src/views/mobile-workbench/MobileWorkbench.tsx
Owners: @jikkai, @Jocs

refactor: remove builtin global component (#4714)
  .nvmrc
  packages-experimental/uniui/src/views/workbench/UniWorkbench.tsx
  packages/ui/src/controllers/ui/ui-mobile.controller.tsx
  packages/ui/src/index.ts
  packages/ui/src/views/mobile-workbench/MobileWorkbench.tsx
  packages/ui/src/views/mobile-workbench/mobile-workbench.module.less
  packages/ui/src/views/parts.ts
  packages/ui/src/views/workbench/Workbench.tsx
Owners: @jikkai, @Jocs

chore: add `onlyBuiltDependencies` list (#4702)
  package.json
Owners: @jikkai

fix: dashline drawing incorrect when adjust col width
  packages/engine-render/src/basics/draw.ts
  packages/engine-render/src/components/sheets/extensions/border.ts
Owners: @lumixraku

fix: add translate 0.5 for border back
  packages/engine-render/src/components/sheets/extensions/border.ts
Owners: @lumixraku

feat: update
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-ranges-highlight.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
  packages/sheets-hyper-link-ui/src/views/CellLinkEdit/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir, @weird94

fix: dashline drawing incorrect when adjust col width (#4719)
  packages/engine-render/src/basics/draw.ts
  packages/engine-render/src/components/sheets/extensions/border.ts
Owners: @lumixraku

fix: update
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-ranges-highlight.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix: initConfig was called in constrcutor before member varible default value
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
Owners: @lumixraku

fix: snapshot default aux line (#4722)
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
Owners: @lumixraku

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
