Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix(ui): add return type for ComponentContainer function (#4547)
  packages/ui/src/views/components/ComponentContainer.tsx
Owners: @jikkai, @Jocs

feat(ui): add ui facade menu position (#4546)
  examples/src/sheets/main.ts
  packages/sheets-ui/src/views/sheet-container/SheetContainer.tsx
  packages/ui/src/facade/f-menu-builder.ts
Owners: @jikkai, @wzhudev, @weird94, @VicKun4937

feat: support legal type on data-validation type
  packages/sheets-data-validation-ui/src/locale/en-US.ts
  packages/sheets-data-validation-ui/src/locale/fa-IR.ts
  packages/sheets-data-validation-ui/src/locale/fr-FR.ts
  packages/sheets-data-validation-ui/src/locale/ru-RU.ts
  packages/sheets-data-validation-ui/src/locale/vi-VN.ts
  packages/sheets-data-validation-ui/src/locale/zh-CN.ts
  packages/sheets-data-validation-ui/src/locale/zh-TW.ts
  packages/sheets-data-validation-ui/src/views/components/detail/index.tsx
  packages/sheets-data-validation-ui/src/views/components/formula-input/index.module.less
  packages/sheets-data-validation/src/index.ts
Owners: @weird94

docs: add deprecation docs
  CONTRIBUTING.md
  docs/CONTRIBUTING-FACADE.md
  packages/find-replace/docs/README.md
Owners: @wzhudev, @siam-ese

fix: hidden mixin in ui & data-validation & thread-comment
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-event.ts
  packages/sheets-data-validation/src/facade/f-range.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-workbook.ts
  packages/sheets-data-validation/src/facade/f-worksheet.ts
  packages/sheets-thread-comment/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-range.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/f-workbook.ts
  packages/sheets-thread-comment/src/facade/f-worksheet.ts
  packages/ui/src/facade/f-enum.ts
  packages/ui/src/facade/f-hooks.ts
  packages/ui/src/facade/f-menu-builder.ts
  packages/ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/sheets-data-validation/src/facade/f-data-validation-builder.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/core/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/core/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/sheets-data-validation/src/facade/f-data-validation-builder.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
Owners: @weird94, @VicKun4937

fix(facade): hidden mixin in ui & data-validation & thread-comment (#4554)
  packages/core/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-data-validation-builder.ts
  packages/sheets-data-validation/src/facade/f-event.ts
  packages/sheets-data-validation/src/facade/f-range.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-workbook.ts
  packages/sheets-data-validation/src/facade/f-worksheet.ts
  packages/sheets-thread-comment/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-range.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/f-workbook.ts
  packages/sheets-thread-comment/src/facade/f-worksheet.ts
  packages/ui/src/facade/f-enum.ts
  packages/ui/src/facade/f-hooks.ts
  packages/ui/src/facade/f-menu-builder.ts
  packages/ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(types): add ignore comments for FUnvier and FWorkbook namespaces
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

fix: exclude test files from ESM build and add ignore comment in ConditionalFormatRuleBaseBuilder
  common/shared/vite/index.ts
  packages/sheets-conditional-formatting/src/facade/conditional-formatting-builder.ts
Owners: @jikkai, @weird94, @VicKun4937

fix: add ignore comments for static instance properties in FEnum, FEventName, and FUtil classes
  packages/core/src/facade/f-enum.ts
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-util.ts
Owners: @weird94, @VicKun4937

docs(core): add description to Facade API
  packages/core/src/facade/f-univer.ts
  packages/network/src/facade/f-network.ts
  packages/network/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-worksheet.ts
  packages/ui/src/facade/f-menu-builder.ts
  packages/ui/src/facade/f-shortcut.ts
Owners: @weird94, @VicKun4937

docs: add comments
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-sort/src/facade/f-worksheet.ts
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/facade/f-selection.ts
Owners: @weird94, @VicKun4937

fix: fix lint
  packages/ui/src/facade/f-menu-builder.ts
Owners: @weird94, @VicKun4937

fix(formula): t formula bug fix
  packages/engine-formula/src/functions/__tests__/nested-functions.spec.ts
  packages/engine-formula/src/functions/text/t/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/t/index.ts
Owners: @Dushusir, @wzhudev

feat: cleanup jsdoc (#4553)
  common/shared/vite/index.ts
  packages/core/src/facade/f-enum.ts
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-util.ts
  packages/sheets-conditional-formatting/src/facade/conditional-formatting-builder.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
Owners: @jikkai, @weird94, @VicKun4937

docs: add example
  packages/ui/src/facade/f-shortcut.ts
Owners: @weird94, @VicKun4937

docs(core): add description to Facade API (#4555)
  packages/core/src/facade/f-univer.ts
  packages/network/src/facade/f-network.ts
  packages/network/src/facade/f-univer.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-sort/src/facade/f-worksheet.ts
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/facade/f-selection.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-worksheet.ts
  packages/ui/src/facade/f-menu-builder.ts
  packages/ui/src/facade/f-shortcut.ts
Owners: @weird94, @VicKun4937

fix(formula): t formula should handle reference and array values (#4556)
  packages/engine-formula/src/functions/__tests__/nested-functions.spec.ts
  packages/engine-formula/src/functions/text/t/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/t/index.ts
Owners: @Dushusir, @wzhudev

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
  packages/sheets-conditional-formatting/src/commands/mutations/set-conditional-rule.mutation.ts
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound, @yuhongz, @wzhudev

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
  packages/sheets-conditional-formatting/src/commands/mutations/set-conditional-rule.mutation.ts
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound, @yuhongz, @wzhudev

fix(cf): fix cf custom formula range change
  pnpm-lock.yaml
Owners: none

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

fix(cf): fix ref range
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

chore: update permission facade
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/model/range-protection-rule.model.ts
  packages/sheets/src/services/permission/permission-point/const.ts
  packages/sheets/src/services/permission/worksheet-permission/worksheet-permission-rule.model.ts
Owners: @weird94, @VicKun4937, @wzhudev

test: fix permission facade test
  packages/facade/src/apis/sheets/__tests__/f-permission.spec.ts
Owners: @weird94, @VicKun4937

feat: paste image if no excel html
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

chore: update permission facade (#4557)
  packages/facade/src/apis/sheets/__tests__/f-permission.spec.ts
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/model/range-protection-rule.model.ts
  packages/sheets/src/services/permission/permission-point/const.ts
  packages/sheets/src/services/permission/worksheet-permission/worksheet-permission-rule.model.ts
Owners: @weird94, @VicKun4937, @wzhudev

feat: paste image if no excel html (#4558)
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

fix: add ignore comments for facade
  packages/core/src/facade/f-event.ts
  packages/docs-ui/src/facade/f-univer.ts
  packages/engine-formula/src/facade/f-univer.ts
  packages/network/src/facade/f-univer.ts
  packages/sheets-conditional-formatting/src/facade/f-range.ts
  packages/sheets-conditional-formatting/src/facade/f-workbook.ts
  packages/sheets-conditional-formatting/src/facade/f-worksheet.ts
  packages/sheets-data-validation/src/facade/f-data-validation.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets-filter/src/facade/f-enum.ts
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-formula/src/facade/f-formula.ts
  packages/sheets-formula/src/facade/f-univer.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-hyper-link/src/facade/f-range.ts
  packages/sheets-hyper-link/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-worksheet.ts
  packages/sheets-numfmt/src/facade/f-range.ts
  packages/sheets-numfmt/src/facade/f-workbook.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-sort/src/facade/f-range.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-permission.ts
  packages/sheets-ui/src/facade/f-range.ts
  packages/sheets-ui/src/facade/f-sheet-hooks.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets/src/facade/f-enum.ts
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-univer.ts
  packages/ui/src/views/components/popup/RectPopup.tsx
Owners: @weird94, @VicKun4937, @jikkai, @Jocs

fix: update FUniver data validation method usage and set facade as private
  packages/facade/package.json
  packages/facade/src/apis/sheets/__tests__/f-range.spec.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: update ignore comments for various facade interfaces
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-sort/src/facade/f-worksheet.ts
  packages/sheets-thread-comment/src/facade/f-thread-comment.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/sheets/src/facade/f-defined-name.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/ui/src/facade/f-menu-builder.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/data-validation/src/types/const/operator-text-map.ts
  packages/data-validation/src/validators/base-data-validator.ts
  packages/sheets-data-validation-ui/src/locale/en-US.ts
  packages/sheets-data-validation-ui/src/locale/fa-IR.ts
  packages/sheets-data-validation-ui/src/locale/fr-FR.ts
  packages/sheets-data-validation-ui/src/locale/ru-RU.ts
  packages/sheets-data-validation-ui/src/locale/vi-VN.ts
  packages/sheets-data-validation-ui/src/locale/zh-CN.ts
  packages/sheets-data-validation-ui/src/locale/zh-TW.ts
  packages/sheets-data-validation-ui/src/views/components/detail/index.tsx
  packages/sheets-data-validation/src/common/date-text-map.ts
  packages/sheets-data-validation/src/types/const/operator-text-map.ts
  packages/sheets-data-validation/src/validators/checkbox-validator.ts
  packages/sheets-data-validation/src/validators/date-validator.ts
  packages/sheets-data-validation/src/validators/decimal-validator.ts
  packages/sheets-data-validation/src/validators/whole-validator.ts
Owners: @weird94

fix: fix some permission bugs
  packages/core/src/univer.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @jikkai, @weird94, @VicKun4937

chore: add comment
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
Owners: @jikkai, @wzhudev

test: fix test
  tests/formula-integration/src/__snapshots__/test-formula-correctness---basic-sum-result.json
  tests/formula-integration/src/__snapshots__/test-formula-correctness---basic-sum.json
Owners: none

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
