Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @hexf00, @VicKun4937, @weird94, @Dushusir, @wpxp123456, @Jocs, @siam-ese, @ybzky, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @jikkai

CONTRIBUTING.md @jikkai

## core & fundamental

packages/core @jikkai
packages/core/src/services/resource-loader @VicKun4937
packages/core/src/services/resource-manager @VicKun4937
packages/core/src/services/permission @VicKun4937
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wpxp123456
packages/engine-numfmt @VicKun4937
packages/engine-render @Jocs
packages/engine-render/components/docs @Jocs
packages/find-replace @siam-ese
packages/network @jikkai
packages/rpc @jikkai
packages/rpc-node @jikkai
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @jikkai
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @VicKun4937
packages/sheets-conditional-formatting @VicKun4937
packages/sheets-conditional-formatting-ui @VicKun4937
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wpxp123456 @Dushusir
packages/sheets-formula-ui @DR-Univer @wpxp123456 @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @VicKun4937
packages/sheets-numfmt-ui @VicKun4937
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @VicKun4937
packages/sheets/src/services/ref-range @VicKun4937
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @VicKun4937

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz

fix: fix the issue where formula helpfunction does not display
  packages/sheets-formula-ui/src/views/formula-editor/help-function/HelpFunction.tsx
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-describe.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wpxp123456, @Dushusir

fix: fix the issue where formula helpfunction does not display (#5481)
  packages/sheets-formula-ui/src/views/formula-editor/help-function/HelpFunction.tsx
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-describe.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wpxp123456, @Dushusir

feat: sheets-filter add filter by colors
  packages/core/src/sheets/worksheet.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
  packages/sheets-filter/src/models/types.ts
Owners: @jikkai, @Jocs, @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
Owners: @ybzky, @yuhongz

fix: fix thread-comment-ui add comment i18n
  examples/src/sheets/main.ts
  packages/thread-comment-ui/src/views/thread-comment-panel/index.tsx
Owners: @weird94

chore: back
  examples/src/sheets/main.ts
Owners: none

fix: fix thread-comment-ui add comment i18n (#5487)
  packages/thread-comment-ui/src/views/thread-comment-panel/index.tsx
Owners: @weird94

fix: add postcss-replace plugin and update global styles
  common/shared/package.json
  common/shared/postcss/postcss.config.mjs
  packages/design/src/global.css
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  pnpm-lock.yaml
Owners: @jikkai, @DR-Univer, @wpxp123456, @Dushusir

fix: add postcss-replace plugin and update global styles (#5488)
  common/shared/package.json
  common/shared/postcss/postcss.config.mjs
  packages/design/src/global.css
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  pnpm-lock.yaml
Owners: @jikkai, @DR-Univer, @wpxp123456, @Dushusir

fix(doc): fix some code error
  packages/engine-render/src/components/docs/layout/tools.ts
Owners: @Jocs

fix(doc): fix some code error (#5489)
  packages/engine-render/src/components/docs/layout/tools.ts
Owners: @Jocs

fix(ui-adapter-vue3): update peerDependencies to require Vue 3.0.0 or higher
  common/shared/vite/data.ts
  packages/ui-adapter-vue3/package.json
  pnpm-lock.yaml
Owners: @jikkai

fix(ui-adapter-vue3): update peerDependencies to require Vue 3.0.0 or higher (#5495)
  common/shared/vite/data.ts
  packages/ui-adapter-vue3/package.json
  pnpm-lock.yaml
Owners: @jikkai

chore: update @univerjs/icons
  common/shared/package.json
  examples/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/action-recorder/package.json
  packages/design/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-quick-insert-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-conditional-formatting/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-note-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-table-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @weird94, @Jocs, @siam-ese, @VicKun4937, @ybzky, @yuhongz, @DR-Univer, @wpxp123456, @Dushusir

feat: sheets-filter add filter by colors
  packages/core/src/sheets/worksheet.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
  packages/sheets-filter/src/models/types.ts
Owners: @jikkai, @Jocs, @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/package.json
  packages/sheets-filter-ui/src/commands/operations/sheets-filter.operation.ts
  packages/sheets-filter-ui/src/services/__tests__/sheets-filter-panel.service.spec.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
  packages/sheets-filter/package.json
  packages/sheets-filter/src/index.ts
  packages/sheets-filter/src/models/filter-model.ts
  packages/sheets-filter/src/models/types.ts
  pnpm-lock.yaml
Owners: @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
Owners: @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/src/locale/en-US.ts
  packages/sheets-filter-ui/src/locale/fa-IR.ts
  packages/sheets-filter-ui/src/locale/fr-FR.ts
  packages/sheets-filter-ui/src/locale/ko-KR.ts
  packages/sheets-filter-ui/src/locale/ru-RU.ts
  packages/sheets-filter-ui/src/locale/vi-VN.ts
  packages/sheets-filter-ui/src/locale/zh-CN.ts
  packages/sheets-filter-ui/src/locale/zh-TW.ts
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/views/components/SheetsFilterByColorsPanel.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @ybzky, @yuhongz

feat: add support for filter by colors
  packages/sheets-filter-ui/src/services/sheets-filter-panel.service.ts
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
  packages/sheets-filter/src/models/filter-model.ts
Owners: @ybzky, @yuhongz

fix: fix SUBTOTAL formula need ignore other SUBTOTAL formula results
  packages/engine-formula/src/functions/math/subtotal/index.ts
  packages/sheets/src/controllers/__tests__/formula/array-inverted-index-cache.spec.ts
Owners: @Dushusir, @wpxp123456, @VicKun4937

fix(sheets-sort-ui): improve layout and styling of `CustomSortPanel`
  packages/sheets-sort-ui/src/views/CustomSortPanel.tsx
Owners: none

fix: fix SUBTOTAL formula need ignore other SUBTOTAL formula results (#5506)
  packages/engine-formula/src/functions/math/subtotal/index.ts
  packages/sheets/src/controllers/__tests__/formula/array-inverted-index-cache.spec.ts
Owners: @Dushusir, @wpxp123456, @VicKun4937

fix(sheets-sort-ui): improve layout and styling of `CustomSortPanel` (#5507)
  packages/sheets-sort-ui/src/views/CustomSortPanel.tsx
Owners: none

chore(deps): upgrade redi
  common/shared/package.json
  common/shared/vite/data.ts
  examples/package.json
  examples/src/main.tsx
  package.json
  packages/core/package.json
  packages/engine-formula/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @Dushusir, @wpxp123456

chore(deps): upgrade redi (#5505)
  common/shared/package.json
  common/shared/vite/data.ts
  examples/package.json
  examples/src/main.tsx
  package.json
  packages/core/package.json
  packages/engine-formula/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @Dushusir, @wpxp123456

fix: fix render of true and false, and TEXT formula error
  packages/engine-formula/src/engine/ast-node/function-node.ts
  packages/engine-formula/src/engine/ast-node/value-node.ts
  packages/engine-formula/src/engine/value-object/array-value-object.ts
  packages/engine-formula/src/functions/__tests__/nested-functions.spec.ts
  packages/engine-formula/src/functions/base-function.ts
  packages/engine-formula/src/functions/text/text/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/text/index.ts
  packages/engine-render/src/components/sheets/extensions/font.ts
  packages/sheets/src/controllers/__tests__/formula/array-inverted-index-cache.spec.ts
Owners: @Dushusir, @wpxp123456, @Jocs, @VicKun4937

fix: make canvas scroll behavior more smooth
  examples/esbuild.config.ts
  examples/scripts/generate-html.ts
  examples/src/main.tsx
  examples/src/sheets-embed-in-page/main.ts
  mockdata/src/sheets/demo/default-workbook-data-demo9.ts
  mockdata/src/sheets/demo/index.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
Owners: @Jocs, @jikkai

fix: fix render of true and false, and TEXT formula error (#5504)
  packages/engine-formula/src/engine/ast-node/function-node.ts
  packages/engine-formula/src/engine/ast-node/value-node.ts
  packages/engine-formula/src/engine/value-object/array-value-object.ts
  packages/engine-formula/src/functions/__tests__/nested-functions.spec.ts
  packages/engine-formula/src/functions/base-function.ts
  packages/engine-formula/src/functions/text/text/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/text/index.ts
  packages/engine-render/src/components/sheets/extensions/font.ts
  packages/sheets/src/controllers/__tests__/formula/array-inverted-index-cache.spec.ts
Owners: @Dushusir, @wpxp123456, @Jocs, @VicKun4937

fix: https://github.com/dream-num/univer-pro/issues/4418
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-highlight.ts
Owners: @DR-Univer, @wpxp123456, @Dushusir

feat: support edit and delete float-dom api
  packages/sheets-drawing-ui/src/basics/transform-position.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/index.ts
Owners: @weird94, @VicKun4937

feat: add event
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: test api
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/ui/src/services/dom/canvas-dom-layer.service.ts
Owners: @weird94, @VicKun4937, @jikkai

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wpxp123456, @Dushusir

feat: update
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none

feat: enhance float-dom management with delete functionality and add id to canvas
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

fix: refactor selectionRenderService retrieval in FWorksheetLegacy
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore: supplement facade examples
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore: supplement facade examples
  packages/sheets-drawing-ui/src/facade/f-event.ts
Owners: @weird94, @VicKun4937

fix: refactor transformer attachment logic in SheetCanvasFloatDomManagerService
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none
