Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

feat: update
  packages/sheets-data-validation-ui/src/index.ts
Owners: none

fix(ribbon): add optional chaining to prevent potential errors
  packages/ui/src/views/components/ribbon/Ribbon.tsx
Owners: @jikkai, @Jocs

chore(snapshots): update snapshots
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
Owners: @wzhudev

feat: update
  packages/sheets-data-validation-ui/src/index.ts
  packages/sheets-data-validation-ui/src/views/components/formula-input/index.ts
  packages/sheets-data-validation/src/index.ts
Owners: @weird94

test: fix some e2e errors and add snapshots
  e2e/disposing/disposing.spec.ts
  e2e/perf/scroll.spec.ts
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-gridlines.spec.ts-snapshots/sheets-no-gridlines-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-scroll.spec.ts-snapshots/mergedCellsRenderingScrolling-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-scroll.spec.ts-snapshots/renderingAfterScrollByAPI-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/defaultstyle-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/facade-sheet-hooks-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-chromium-darwin.png
Owners: @wzhudev

fix: remove waitUntil
  e2e/disposing/disposing.spec.ts
Owners: none

feat(ui): add switch render unit feature
  mockdata/src/sheets/demo/default-workbook-data-demo4.ts
  packages/engine-render/src/engine.ts
  packages/engine-render/src/render-manager/render-manager.service.ts
  packages/engine-render/src/render-manager/render-unit.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-transform-affected.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/ui/src/controllers/ui/ui-desktop.controller.tsx
  packages/ui/src/facade/f-univer.ts
Owners: @lumixraku, @jikkai, @wzhudev, @Jocs, @weird94, @VicKun4937

test: add switching render unit test and fix type check
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
  packages/docs-ui/src/commands/commands/__tests__/create-command-test-bed.ts
  packages/docs-ui/src/controllers/render-controllers/doc.render-controller.ts
  packages/sheets-ui/src/commands/commands/__tests__/create-command-test-bed.ts
  packages/sheets-ui/src/commands/commands/__tests__/create-selection-command-test-bed.ts
Owners: @jikkai, @Jocs, @wzhudev

docs: add example to facade API
  packages/ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: fix type check
  packages/sheets-ui/src/services/clipboard/__tests__/clipboard-test-bed.ts
Owners: @yuhongz

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts-snapshots/switching-render-unit-ci-chromium-linux.png
Owners: none

refactor: change implementation
  packages/core/src/index.ts
  packages/sheets-ui/src/services/sheets-render.service.ts
  packages/sheets/src/facade/f-univer.ts
  packages/ui/src/facade/f-univer.ts
Owners: @wzhudev, @jikkai, @weird94, @VicKun4937

fix: memory leak temp solution
  packages/engine-render/src/render-manager/render-unit.ts
Owners: @lumixraku

fix: rename API
  packages/sheets/src/facade/f-univer.ts
  packages/ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(formula): fix cut paste bug og formula
  packages/sheets-formula-ui/src/controllers/formula-clipboard.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat(design): update color presets and add tests for `ColorPicker`
  packages/design/src/components/color-picker/ColorPresets.tsx
  packages/design/src/components/color-picker/__tests__/__snapshots__/index.spec.tsx.snap
  packages/design/src/components/color-picker/__tests__/index.spec.tsx
  packages/design/src/components/color-picker/presets.ts
  packages/design/src/components/input/InputWithSlot.tsx
Owners: @jikkai

fix(design): handle empty value in hexToHsv conversion
  packages/design/src/components/color-picker/ColorPicker.tsx
Owners: @jikkai

feat(design): update color presets and add tests for `ColorPicker` (#4583)
  packages/design/src/components/color-picker/ColorPicker.tsx
  packages/design/src/components/color-picker/ColorPresets.tsx
  packages/design/src/components/color-picker/__tests__/__snapshots__/index.spec.tsx.snap
  packages/design/src/components/color-picker/__tests__/index.spec.tsx
  packages/design/src/components/color-picker/presets.ts
  packages/design/src/components/input/InputWithSlot.tsx
Owners: @jikkai

fix(conditional-formatting): aligning Excel Effects with 'No Interference'
  packages/sheets-conditional-formatting/src/models/calculate-unit-v2/highlight-cell-calculate-unit.ts
Owners: @Gggpound

fix(formula): fix cut paste bug of formula (#4582)
  packages/sheets-formula-ui/src/controllers/formula-clipboard.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix(conditional-formatting): aligning Excel Effects with 'No Interfer… (#4584)
  packages/sheets-conditional-formatting/src/models/calculate-unit-v2/highlight-cell-calculate-unit.ts
Owners: @Gggpound

feat(ui): support switching render unit (#4580)
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts-snapshots/switching-render-unit-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
  mockdata/src/sheets/demo/default-workbook-data-demo4.ts
  packages/core/src/index.ts
  packages/docs-ui/src/commands/commands/__tests__/create-command-test-bed.ts
  packages/docs-ui/src/controllers/render-controllers/doc.render-controller.ts
  packages/engine-render/src/engine.ts
  packages/engine-render/src/render-manager/render-manager.service.ts
  packages/engine-render/src/render-manager/render-unit.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-transform-affected.controller.ts
  packages/sheets-ui/src/commands/commands/__tests__/create-command-test-bed.ts
  packages/sheets-ui/src/commands/commands/__tests__/create-selection-command-test-bed.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/services/clipboard/__tests__/clipboard-test-bed.ts
  packages/sheets-ui/src/services/sheets-render.service.ts
  packages/sheets/src/facade/f-univer.ts
  packages/ui/src/controllers/ui/ui-desktop.controller.tsx
  packages/ui/src/facade/f-univer.ts
Owners: @wzhudev, @jikkai, @Jocs, @lumixraku, @yuhongz, @weird94, @VicKun4937

fix(sheet): scrolling reaching limit judgment (#4473)
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
Owners: @jikkai, @wzhudev

fix: clear timers when controller disposed (#4528)
  e2e/disposing/disposing.spec.ts
  e2e/perf/scroll.spec.ts
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-gridlines.spec.ts-snapshots/sheets-no-gridlines-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-scroll.spec.ts-snapshots/mergedCellsRenderingScrolling-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-scroll.spec.ts-snapshots/renderingAfterScrollByAPI-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/defaultstyle-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/facade-sheet-hooks-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-chromium-darwin.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-chromium-darwin.png
  packages/sheets-formula/src/controllers/trigger-calculation.controller.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
Owners: @wzhudev, @DR-Univer, @Dushusir, @Jocs

test: split sk
  packages/core/src/index.ts
  packages/core/src/sheets/sheet-skeleton.ts
  packages/core/src/sheets/util.ts
  packages/core/src/skeleton.ts
  packages/engine-render/src/basics/tools.ts
  packages/engine-render/src/components/docs/layout/doc-skeleton.ts
  packages/engine-render/src/components/index.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/engine-render/src/components/sheets/spreadsheet.ts
  packages/engine-render/tsconfig.json
  packages/sheets-ui/src/common/utils.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/header-move.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/header-resize.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/mobile/mobile-scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/skeleton.render-controller.ts
  packages/sheets-ui/src/controllers/utils/component-tools.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
  packages/sheets-ui/src/services/selection/selection-shape-extension.ts
  packages/sheets-ui/src/services/selection/util.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/sheets-ui/src/views/operate-container/AutoFillPopupMenu.tsx
Owners: @wzhudev, @lumixraku, @jikkai, @Jocs

feat: add scale scroll for sk
  packages/core/src/sheets/sheet-skeleton.ts
  packages/core/src/sheets/workbook.ts
  packages/engine-render/src/basics/interfaces.ts
  packages/engine-render/src/components/sheets/extensions/custom.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/engine-render/src/engine.ts
  packages/engine-render/src/index.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/thin-engine.ts
  packages/sheets-ui/src/commands/commands/__tests__/set-frozen.command.spec.ts
  packages/sheets-ui/src/commands/operations/scroll.operation.ts
  packages/sheets-ui/src/controllers/cell-custom-render.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/mobile/mobile-scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/skeleton.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/zoom.render-controller.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets-ui/src/services/scroll-manager.service.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @wzhudev, @lumixraku, @jikkai

fix: scroll status update but sk params is still old.
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/skeleton.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/zoom.render-controller.ts
Owners: @lumixraku, @jikkai, @wzhudev

fix: som bug fix
  packages/engine-render/src/basics/interfaces.ts
  packages/engine-render/src/components/sheets/extensions/font.ts
  packages/engine-render/src/custom/custom-object.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/zoom.render-controller.ts
Owners: @lumixraku, @jikkai, @wzhudev

fix: manual merge
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/extensions/row-header-layout.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
Owners: @wzhudev, @lumixraku, @jikkai

fix: add fontRenderExtension to fontCache
  packages/engine-render/src/components/sheets/extensions/font.ts
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
Owners: @lumixraku, @jikkai, @wzhudev

test: ci fix
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-ui/src/commands/commands/__tests__/create-selection-command-test-bed.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/services/clipboard/__tests__/clipboard-test-bed.ts
Owners: @wzhudev, @lumixraku, @jikkai, @yuhongz

fix(formula): skip processing tree when there is no formula
  packages/engine-formula/src/engine/dependency/formula-dependency.ts
Owners: @Dushusir, @wzhudev

fix(formula): get dirtyRanges when row column removed
  packages/core/src/shared/object-matrix.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
Owners: @wzhudev, @DR-Univer, @Dushusir

fix: the filtered content is not included in the clear
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-conditional-formatting-ui/src/controllers/cf.copy-paste.controller.ts
  packages/sheets-data-validation-ui/src/controllers/dv-copy-paste.controller.ts
  packages/sheets-hyper-link-ui/src/controllers/copy-paste.controller.ts
  packages/sheets-ui/src/controllers/utils/range-tools.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/services/auto-fill/auto-fill.service.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
  packages/sheets/src/basics/interfaces/selection-config.ts
  packages/sheets/src/basics/utils.ts
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @Gggpound, @weird94, @wzhudev, @yuhongz, @VicKun4937

chore: fix test
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
Owners: @wzhudev, @VicKun4937

fix(formula): get dirtyRanges when row column removed (#4588)
  packages/core/src/shared/object-matrix.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
Owners: @wzhudev, @DR-Univer, @Dushusir

fix(formula): skip processing tree when there is no formula (#4586)
  packages/engine-formula/src/engine/dependency/formula-dependency.ts
Owners: @Dushusir, @wzhudev

chore: fix extra long display in filter panel
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @jikkai, @ybzky, @yuhongz

chore: better code
  packages/core/src/index.ts
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/basics/tools.ts
Owners: @wzhudev, @lumixraku

chore: export fix (#4590)
  packages/core/src/index.ts
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/basics/tools.ts
Owners: @wzhudev, @lumixraku
