Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

fix(numfmt): reset cell value type when remove numfmt
  packages/sheets-numfmt/src/commands/commands/set-numfmt.command.ts
  packages/sheets-numfmt/src/controllers/numfmt-cell-content.controller.ts
  packages/sheets/src/index.ts
  packages/sheets/src/services/numfmt/numfmt.service.ts
Owners: @Gggpound, @wzhudev, @VicKun4937

fix(ui): Univer registered vue components can't access the appContext of external vue applications.
  packages/ui/src/common/index.ts
  packages/ui/src/common/teleport.ts
Owners: @jikkai, @Jocs

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-ci-chromium-linux.png
Owners: none

fix(numfmt): reset cell value type when remove numfmt (#4585)
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-ci-chromium-linux.png
  packages/engine-formula/package.json
  packages/engine-formula/src/engine/reference-object/base-reference-object.ts
  packages/sheets-numfmt/src/commands/commands/set-numfmt.command.ts
  packages/sheets-numfmt/src/controllers/numfmt-cell-content.controller.ts
  packages/sheets/src/index.ts
  packages/sheets/src/services/__tests__/numfmt.service.test.ts
  packages/sheets/src/services/numfmt/numfmt.service.ts
  pnpm-lock.yaml
Owners: @Dushusir, @wzhudev, @Gggpound, @VicKun4937

feat: update
  packages/design/src/components/date-picker/DatePanel.tsx
  packages/sheets-ui/src/views/dropdown/date-dropdown/index.tsx
Owners: @jikkai, @wzhudev

feat: update
  packages/core/src/shared/types/numfmt.type.ts
  packages/sheets-data-validation/src/validators/date-validator.ts
  packages/sheets-ui/src/views/dropdown/date-dropdown/index.tsx
Owners: @wzhudev, @weird94, @jikkai

feat: updat
  packages/sheets-data-validation-ui/src/services/dropdown-manager.service.ts
Owners: none

feat: update
  packages/data-validation/src/validators/base-data-validator.ts
  packages/sheets-data-validation-ui/src/views/components/detail/index.tsx
  packages/sheets-data-validation/src/validators/any-validator.ts
  packages/sheets-data-validation/src/validators/checkbox-validator.ts
  packages/sheets-data-validation/src/validators/custom-validator.ts
  packages/sheets-data-validation/src/validators/date-validator.ts
  packages/sheets-data-validation/src/validators/decimal-validator.ts
  packages/sheets-data-validation/src/validators/list-validator.ts
  packages/sheets-data-validation/src/validators/text-length-validator.ts
  packages/sheets-data-validation/src/validators/whole-validator.ts
Owners: @weird94

feat(engine-formula): add global computing status service
  packages/engine-formula/src/commands/mutations/set-formula-calculation.mutation.ts
  packages/engine-formula/src/controller/calculate.controller.ts
  packages/engine-formula/src/controller/computing-status.controller.ts
  packages/engine-formula/src/index.ts
  packages/engine-formula/src/plugin.ts
  packages/engine-formula/src/services/global-computing-status.service.ts
  packages/engine-formula/src/services/runtime.service.ts
Owners: @yuhongz, @wzhudev, @Dushusir

feat: perf
  packages/engine-formula/src/controller/computing-status.controller.ts
Owners: @Dushusir, @wzhudev

feat(engine-formula): add global computing status service (#4602)
  packages/engine-formula/src/commands/mutations/set-formula-calculation.mutation.ts
  packages/engine-formula/src/controller/calculate.controller.ts
  packages/engine-formula/src/controller/computing-status.controller.ts
  packages/engine-formula/src/index.ts
  packages/engine-formula/src/plugin.ts
  packages/engine-formula/src/services/global-computing-status.service.ts
  packages/engine-formula/src/services/runtime.service.ts
Owners: @yuhongz, @wzhudev, @Dushusir

fix: formula-editor
  packages-experimental/uniui/src/views/uni-toolbar/UniFormulaBar.tsx
  packages/sheets-data-validation-ui/src/views/components/list-dropdown/index.tsx
  packages/sheets-formula-ui/src/commands/operations/insert-function.operation.ts
  packages/sheets-formula-ui/src/views/more-functions/MoreFunctions.tsx
  packages/sheets-ui/src/controllers/auto-fill.controller.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets-ui/src/controllers/editor/formula-editor.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/header-resize.render-controller.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
  packages/sheets-ui/src/views/editor-container/EditorContainer.tsx
  packages/sheets-ui/src/views/editor-container/hooks.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/slides-ui/src/controllers/slide-editor-bridge.render-controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @jikkai, @Jocs

feat: update
  packages-experimental/uniui/src/views/uni-toolbar/UniFormulaBar.tsx
Owners: none

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts-snapshots/switching-render-unit-ci-chromium-linux.png
Owners: none

fix: https://github.com/dream-num/univer-pro/issues/3945
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/commands/commands/break-line.command.ts
  packages/docs-ui/src/commands/commands/ime-input.command.ts
  packages/docs-ui/src/commands/commands/table/doc-table-create.command.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @jikkai, @Jocs

fix: error input chinese
  packages/docs-ui/src/services/editor/editor-manager.service.ts
Owners: @jikkai, @Jocs

fix(sheets-ui): formula-editor edit error (#4603)
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts-snapshots/switching-render-unit-ci-chromium-linux.png
  packages-experimental/uniui/src/views/uni-toolbar/UniFormulaBar.tsx
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/commands/commands/break-line.command.ts
  packages/docs-ui/src/commands/commands/ime-input.command.ts
  packages/docs-ui/src/commands/commands/table/doc-table-create.command.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
  packages/docs-ui/src/services/editor/editor-manager.service.ts
  packages/sheets-data-validation-ui/src/views/components/list-dropdown/index.tsx
  packages/sheets-formula-ui/src/commands/operations/insert-function.operation.ts
  packages/sheets-formula-ui/src/views/more-functions/MoreFunctions.tsx
  packages/sheets-ui/src/controllers/auto-fill.controller.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets-ui/src/controllers/editor/formula-editor.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/header-resize.render-controller.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
  packages/sheets-ui/src/views/editor-container/EditorContainer.tsx
  packages/sheets-ui/src/views/editor-container/hooks.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/slides-ui/src/controllers/slide-editor-bridge.render-controller.ts
Owners: @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir

fix: data-validation formula-error
  mockdata/src/sheets/demo/default-workbook-data-demo.ts
  packages/sheets-data-validation/src/plugin.ts
  packages/sheets-formula/src/services/register-other-formula.service.ts
Owners: @weird94, @DR-Univer, @wzhudev, @Dushusir

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-ci-chromium-linux.png
Owners: none

fix: https://github.com/dream-num/univer/issues/4577
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

Update README.md
  README.md
Owners: none

fix(sheets-data-validation): data-validation formula-error (#4606)
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/demo-sheet-ci-chromium-linux.png
  mockdata/src/sheets/demo/default-workbook-data-demo.ts
  packages/sheets-data-validation/src/plugin.ts
  packages/sheets-formula/src/services/register-other-formula.service.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @DR-Univer, @wzhudev, @Dushusir, @VicKun4937

fix(ui): improve undo/redo menu item disable logic
  packages/ui/src/controllers/menus/menus.ts
Owners: @jikkai, @Jocs

feat(engine-formula): add whenComputingCompleteAsync facade
  packages/engine-formula/src/facade/f-formula.ts
  packages/engine-formula/src/services/global-computing-status.service.ts
Owners: @weird94, @VicKun4937, @Dushusir, @wzhudev

fix: fix boolean used
  packages/engine-formula/src/facade/f-formula.ts
Owners: @weird94, @VicKun4937

feat(engine-formula): add whenComputingCompleteAsync facade (#4610)
  packages/engine-formula/src/facade/f-formula.ts
  packages/engine-formula/src/services/global-computing-status.service.ts
Owners: @weird94, @VicKun4937, @Dushusir, @wzhudev

fix(facade): set default style
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
  packages/sheets-hyper-link/src/facade/f-univer.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/core/src/facade/f-event-registry.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(ui): improve undo/redo menu item disable logic (#4609)
  packages/ui/src/controllers/menus/menus.ts
Owners: @jikkai, @Jocs

feat: update
  examples/src/sheets/main.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/sheets-filter/src/facade/f-event.ts
Owners: @weird94, @VicKun4937

feat(facade): facade event memory usage optimize (#4616)
  examples/src/sheets/main.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-univer.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-hyper-link/src/facade/f-univer.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(ui): disable shortcut
  packages/ui/src/facade/f-shortcut.ts
  packages/ui/src/services/shortcut/shortcut.service.ts
Owners: @weird94, @VicKun4937, @jikkai, @Jocs

fix: https://github.com/dream-num/univer-pro/issues/1766
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useFormulaSelection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useSelectionAdd.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

fix: https://github.com/dream-num/univer/issues/4551
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
Owners: @Jocs

fix(sheet): add remove func to serivce
  packages/sheets/src/services/range-theme-service.ts
Owners: @wzhudev, @VicKun4937

fix(sheets-formula-ui): editor add selection error (#4619)
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useFormulaSelection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useSelectionAdd.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @Jocs

fix(sheets-ui/facade): fix cell event not triggering when listening through the facade API
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(sheets-ui/facade): fix cell event not triggering when listening through the facade API (#4628)
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937
