Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

docs(sheets): update getValue docs
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

docs(sheets): update getValue docs
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

fix(sheet): support source bind ignore header
  packages-experimental/sheets-source-binding/src/controllers/binding-manager.ts
  packages-experimental/sheets-source-binding/src/model/source-model.ts
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
  packages-experimental/sheets-source-binding/src/types.ts
Owners: none

feat: restore getValueAndRichTextValue
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

chore: restore getValue
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

chore: update pnpm-lock
  pnpm-lock.yaml
Owners: none

chore: set getRichTextValue and getRichTextValues private
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

docs: update docs
  packages/sheets-hyper-link/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

fix(facade): support get rich-text by getValue (#4523)
  packages/sheets-hyper-link/src/facade/f-range.ts
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

fix(bind): keep the cell style
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
Owners: none

fix: customize auto height for merged cell
  packages/core/src/common/const.ts
  packages/core/src/index.ts
  packages/core/src/services/config/config.service.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @lumixraku, @VicKun4937

fix: customize auto height for merged cell (#4488)
  packages/core/src/common/const.ts
  packages/core/src/index.ts
  packages/core/src/services/config/config.service.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @lumixraku, @VicKun4937

fix(sheet): support source bind ignore header (#4524)
  packages-experimental/sheets-source-binding/src/controllers/binding-manager.ts
  packages-experimental/sheets-source-binding/src/model/source-model.ts
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
  packages-experimental/sheets-source-binding/src/types.ts
Owners: none

fix: set value error on formula cell
  packages/sheets/src/facade/utils.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/sheets/src/facade/__tests__/utils.spec.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/sheets/src/facade/__tests__/utils.spec.ts
Owners: @weird94, @VicKun4937

fix(sheets): set value error on formula cell (#4527)
  packages/sheets/src/facade/__tests__/utils.spec.ts
  packages/sheets/src/facade/utils.ts
Owners: @weird94, @VicKun4937

fix: clear timers when controller disposed
  packages/sheets-formula/src/controllers/trigger-calculation.controller.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @Jocs

chore: update package.json (#4522)
  packages-experimental/uniui/package.json
  packages/docs-ui/package.json
  packages/thread-comment-ui/package.json
  pnpm-lock.yaml
Owners: @jikkai, @Jocs, @weird94

feat: add old sheet api
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore: better code
  mockdata/src/sheets/demo/default-workbook-data-demo.ts
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/index.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @lumixraku, @weird94, @VicKun4937, @jikkai, @wzhudev

fix: sk size changed update dom positon
  packages/sheets-drawing-ui/src/index.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/ui/src/views/components/dom/FloatDom.tsx
Owners: @jikkai, @Jocs

fix: range$ change for column header
  mockdata/src/sheets/demo/default-workbook-data-demo.ts
  packages-experimental/debugger/src/components/range-loading.tsx
  packages/engine-render/src/shape/shape.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/ui/src/views/components/dom/FloatDom.tsx
Owners: @lumixraku, @jikkai, @Jocs

chore: better code for column header API
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @weird94, @VicKun4937, @jikkai, @wzhudev

fix: try to adjust heder height
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
  packages/sheets-ui/src/services/selection/selection-control.ts
Owners: @lumixraku, @jikkai, @wzhudev, @weird94, @VicKun4937

feat(sheets): add old sheets api (#4529)
  packages/sheets-ui/src/facade/f-workbook.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore: dispose for rangePos$
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: customize column header height (#4526)
  packages-experimental/debugger/src/components/range-loading.tsx
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/engine-render/src/shape/shape.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/index.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
  packages/sheets-ui/src/services/selection/selection-control.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @lumixraku, @weird94, @VicKun4937, @jikkai, @wzhudev

fix: make auto-width sync
  packages/sheets-ui/src/commands/commands/set-worksheet-auto-col-width.command.ts
Owners: @jikkai, @wzhudev

fix(sheets): make auto-width sync (#4532)
  packages/sheets-ui/src/commands/commands/set-worksheet-auto-col-width.command.ts
Owners: @jikkai, @wzhudev

fix(bind): fix bind mode loss text style
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
Owners: none

chore: fix lint
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-copy-paste.controller.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/type.ts
  packages/sheets-ui/src/views/permission/panel-detail/index.module.less
Owners: @yuhongz, @jikkai, @wzhudev

fix(bind): fix bind mode loss text style (#4533)
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
Owners: none

chore: add api to get source nodes
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
Owners: none

chore: add api to get source nodes (#4534)
  packages-experimental/sheets-source-binding/src/services/source-binding-service.ts
Owners: none

feat: support paste image by context menu
  packages/docs-ui/src/controllers/render-controllers/doc-clipboard.controller.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-copy-paste.controller.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/ui/src/index.ts
  packages/ui/src/services/clipboard/clipboard-interface.service.ts
Owners: @jikkai, @Jocs, @yuhongz, @ybzky

chore: remove unused type definition
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
Owners: @yuhongz

feat(float-image): support paste image from external (#3617)
  e2e/perf/scroll.spec.ts
  packages/design/src/components/form-layout/FormLayout.tsx
  packages/docs-mention-ui/src/controllers/doc-mention-trigger.controller.ts
  packages/docs-ui/src/controllers/render-controllers/doc-clipboard.controller.ts
  packages/drawing/src/services/drawing-manager-impl.service.ts
  packages/engine-formula/src/functions/information/sheet/__tests__/index.spec.ts
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-list/index.tsx
  packages/sheets-drawing-ui/src/commands/commands/insert-image.command.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-copy-paste.controller.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-update.controller.ts
  packages/sheets-drawing-ui/src/controllers/sheet-drawing.controller.ts
  packages/sheets-drawing/src/index.ts
  packages/sheets-filter-ui/src/controllers/sheets-filter-ui-desktop.controller.ts
  packages/sheets-ui/src/commands/commands/clipboard.command.ts
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/type.ts
  packages/sheets/src/services/permission/range-permission/range-protection.ref-range.ts
  packages/sheets/src/services/permission/range-permission/range-protection.service.ts
  packages/ui/src/index.ts
  packages/ui/src/mobile-ui-plugin.ts
  packages/ui/src/services/clipboard/clipboard-interface.service.ts
Owners: @jikkai, @weird94, @Jocs, @Dushusir, @wzhudev, @Gggpound, @ybzky, @yuhongz, @VicKun4937

chore: update source facade
  packages-experimental/sheets-source-binding/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

chore: update source facade
  packages-experimental/sheets-source-binding/src/controllers/binding-manager.ts
  packages-experimental/sheets-source-binding/src/index.ts
Owners: none
