Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix: fix FRange.setValue notes
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example (#4653)
  packages/core/src/facade/f-blob.ts
  packages/core/src/facade/f-enum.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-hooks.ts
  packages/core/src/facade/f-univer.ts
  packages/core/src/facade/f-util.ts
  packages/core/src/shared/rectangle.ts
  packages/engine-formula/src/facade/f-formula.ts
  packages/sheets-formula-ui/src/controllers/formula-clipboard.controller.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-defined-name.ts
  packages/sheets/src/facade/f-enum.ts
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/facade/f-selection.ts
  packages/sheets/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-worksheet.ts
  packages/sheets/src/index.ts
Owners: @weird94, @VicKun4937, @wzhudev, @DR-Univer, @Dushusir

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
  packages/sheets-conditional-formatting/src/commands/mutations/set-conditional-rule.mutation.ts
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound, @yuhongz, @wzhudev

fix(cf): fix cf custom formula range change
  pnpm-lock.yaml
Owners: none

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
  packages/sheets-conditional-formatting/src/commands/mutations/set-conditional-rule.mutation.ts
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound, @yuhongz, @wzhudev

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting/src/models/conditional-formatting-rule-model.ts
Owners: @Gggpound

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

fix(cf): fix cf custom formula range change
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

fix(cf): fix ref range
  packages/sheets-conditional-formatting-ui/src/controllers/cf.ref-range.controller.ts
Owners: @Gggpound

fix: scroll cmd should consider about unitId
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
Owners: @jikkai, @wzhudev

fix: better code
  packages/sheets-ui/src/commands/commands/set-selection.command.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
Owners: @jikkai, @wzhudev

fix: scrollToCellParams
  packages/sheets-ui/src/controllers/defined-name/defined-name.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/mobile/mobile-scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
  packages/sheets/src/commands/operations/scroll-to-cell.operation.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @wzhudev, @VicKun4937

feat: add custom data to value objects
  packages/engine-formula/src/engine/utils/value-object.ts
  packages/engine-formula/src/engine/value-object/base-value-object.ts
Owners: @Dushusir, @wzhudev

fix: scroll cmd should consider about unitId (#4654)
  packages/sheets-ui/src/commands/commands/set-selection.command.ts
  packages/sheets-ui/src/controllers/defined-name/defined-name.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/mobile/mobile-scroll.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
  packages/sheets/src/commands/operations/scroll-to-cell.operation.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @wzhudev, @VicKun4937

chore: update permission init method
  packages/sheets-ui/src/controllers/permission/sheet-permission-init-ui.controller.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets/src/controllers/permission/sheet-permission-init.controller.ts
Owners: @jikkai, @wzhudev, @VicKun4937

chore: remove useless code
  packages/sheets-ui/src/controllers/permission/sheet-permission-init-ui.controller.ts
Owners: @jikkai, @wzhudev

fix: the filtered content is not included in the clear
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-conditional-formatting-ui/src/controllers/cf.copy-paste.controller.ts
  packages/sheets-data-validation-ui/src/controllers/dv-copy-paste.controller.ts
  packages/sheets-hyper-link-ui/src/controllers/copy-paste.controller.ts
  packages/sheets-ui/src/controllers/utils/range-tools.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/services/auto-fill/auto-fill.service.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets/src/basics/interfaces/selection-config.ts
  packages/sheets/src/basics/utils.ts
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @Gggpound, @weird94, @wzhudev, @yuhongz, @VicKun4937

chore: update
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @ybzky, @yuhongz

chore: fix extra long display in filter panel
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @jikkai, @ybzky, @yuhongz

chore: fix test
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
Owners: @wzhudev, @VicKun4937

fix(style): fix defualt theme style
  packages/sheets/src/model/range-theme-model.ts
  packages/sheets/src/model/range-themes/default.ts
Owners: @wzhudev, @VicKun4937

chore: update import
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
Owners: @yuhongz

feat: add unit tests to custom data
  packages/engine-formula/src/engine/utils/__tests__/value-object.spec.ts
  packages/engine-formula/src/engine/value-object/base-value-object.ts
Owners: @Dushusir, @wzhudev

chore: update permission init method (#4656)
  packages/sheets-ui/src/controllers/permission/sheet-permission-init-ui.controller.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets/src/controllers/permission/sheet-permission-init.controller.ts
Owners: @jikkai, @wzhudev, @VicKun4937

feat: fix unit tests for custom data
  packages/engine-formula/src/engine/utils/__tests__/value-object.spec.ts
Owners: @Dushusir, @wzhudev

fix: paste value from excel incorrect
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

chore: optimize image tag match
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

refactor: variable name
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

fix: paste value from excel incorrect (#4659)
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/services/clipboard/utils.ts
Owners: @yuhongz

fix(style): fix defualt theme style (#4657)
  packages/sheets/src/model/range-theme-model.ts
  packages/sheets/src/model/range-themes/default.ts
Owners: @wzhudev, @VicKun4937

feat(sheets-ui): update `FormulaBar` to accept custom className prop
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
Owners: @jikkai, @wzhudev

chore: update dependencies
  common/storybook/package.json
  package.json
  pnpm-lock.yaml
Owners: @jikkai

feat(sheets-ui): update `FormulaBar` to accept custom className prop (#4663)
  common/storybook/package.json
  package.json
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev

fix(sheet): fix some performance issue
  packages/core/src/common/boolean.ts
  packages/core/src/shared/generate.ts
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @wzhudev, @jikkai

fix: fix type error
  packages/core/src/services/__tests__/index.ts
Owners: @wzhudev

refactor(core): optimize plugin service
  packages/core/src/index.ts
  packages/core/src/services/plugin/neo-plugin.service.ts
  packages/core/src/services/plugin/plugin.service.ts
  packages/core/src/services/plugin/plugin.ts
  packages/core/src/univer.ts
Owners: @wzhudev

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-ci-chromium-linux.png
Owners: none

chore: remove redundant file
  packages/core/src/services/plugin/neo-plugin.service.ts
Owners: @wzhudev

fix(sheet): fix some performance issue (#4664)
  packages/core/src/common/boolean.ts
  packages/core/src/shared/generate.ts
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @wzhudev, @jikkai

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-ci-chromium-linux.png
Owners: none

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
