Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

feat: update
  examples/src/sheets/main.ts
Owners: none

feat: update
  examples/src/sheets/main.ts
Owners: none

feat: update
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(facade): editing-event not trigger on edit (#4642)
  examples/src/sheets/main.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-highlight.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/index.ts
  packages/sheets-ui/src/commands/commands/set-zoom-ratio.command.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
  packages/sheets/src/basics/const/command-listener-const.ts
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937, @DR-Univer, @wzhudev, @Dushusir, @jikkai

feat: 〇 update
  packages/engine-formula/src/functions/text/numberstring/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/numberstring/index.ts
Owners: @Dushusir, @wzhudev

feat(formula): supplement NUMBERSTRING formula
  packages/engine-formula/src/functions/text/function-map.ts
  packages/engine-formula/src/functions/text/function-names.ts
  packages/engine-formula/src/functions/text/numberstring/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/numberstring/index.ts
  packages/sheets-formula-ui/src/locale/function-list/text/en-US.ts
  packages/sheets-formula-ui/src/locale/function-list/text/fr-FR.ts
  packages/sheets-formula-ui/src/locale/function-list/text/ja-JP.ts
  packages/sheets-formula-ui/src/locale/function-list/text/ru-RU.ts
  packages/sheets-formula-ui/src/locale/function-list/text/vi-VN.ts
  packages/sheets-formula-ui/src/locale/function-list/text/zh-CN.ts
  packages/sheets-formula-ui/src/locale/function-list/text/zh-TW.ts
  packages/sheets-formula/src/services/function-list/text.ts
Owners: @Dushusir, @wzhudev, @DR-Univer

fix: fix formulastring test incorrect header
  packages/engine-formula/src/functions/text/numberstring/__test__/index.spec.ts
Owners: @Dushusir, @wzhudev

fix: fix formulastring test incorrect header
  packages/engine-formula/src/functions/text/numberstring/index.ts
Owners: @Dushusir, @wzhudev

feat(formula): supplement NUMBERSTRING formula (#4615)
  packages/engine-formula/src/functions/text/function-map.ts
  packages/engine-formula/src/functions/text/function-names.ts
  packages/engine-formula/src/functions/text/numberstring/__test__/index.spec.ts
  packages/engine-formula/src/functions/text/numberstring/index.ts
  packages/sheets-formula-ui/src/locale/function-list/text/en-US.ts
  packages/sheets-formula-ui/src/locale/function-list/text/fr-FR.ts
  packages/sheets-formula-ui/src/locale/function-list/text/ja-JP.ts
  packages/sheets-formula-ui/src/locale/function-list/text/ru-RU.ts
  packages/sheets-formula-ui/src/locale/function-list/text/vi-VN.ts
  packages/sheets-formula-ui/src/locale/function-list/text/zh-CN.ts
  packages/sheets-formula-ui/src/locale/function-list/text/zh-TW.ts
  packages/sheets-formula/src/services/function-list/text.ts
Owners: @Dushusir, @wzhudev, @DR-Univer

fix: adjust height when select all (#4639)
  packages/sheets/src/commands/commands/set-worksheet-row-height.command.ts
Owners: @wzhudev, @VicKun4937

fix(facade): set default style (#4613)
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

fix(statusbar): fix status bar can not read date type cell (#4573)
  packages-experimental/sheets-source-binding/src/model/source-model.ts
  packages-experimental/sheets-source-binding/src/types.ts
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @jikkai, @wzhudev

fix: multi-instance input error
  examples/src/sheets-multi/main.tsx
  packages/ui/src/services/layout/layout.service.ts
Owners: @jikkai, @Jocs

fix(ui): optimize resize observer and update toolbar item structure of Ribbon
  packages/ui/src/views/components/ribbon/Ribbon.tsx
Owners: @jikkai, @Jocs

docs(facade): supplement core packages facade notes and example
  packages/core/src/facade/f-blob.ts
  packages/core/src/facade/f-enum.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-hooks.ts
  packages/core/src/facade/f-univer.ts
  packages/core/src/facade/f-util.ts
  packages/core/src/shared/rectangle.ts
  packages/sheets-formula-ui/src/controllers/formula-clipboard.controller.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937, @wzhudev, @DR-Univer, @Dushusir

docs(facade): supplement notes and example
  packages/engine-formula/src/facade/f-formula.ts
  packages/sheets/src/facade/f-defined-name.ts
  packages/sheets/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement facade notes and example
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

fix: fix merge
  packages/core/src/facade/f-hooks.ts
Owners: @weird94, @VicKun4937

fix(ui): optimize resize observer and update toolbar item structure of Ribbon (#4644)
  packages/ui/src/views/components/ribbon/Ribbon.tsx
Owners: @jikkai, @Jocs

fix(sheets-ui): multi-instance input error (#4643)
  examples/src/sheets-multi/main.tsx
  packages/ui/src/services/layout/layout.service.ts
Owners: @jikkai, @Jocs

fix: fix paste dropdown in workspace (#4593)
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
Owners: @jikkai, @wzhudev

chore: validate plugin dependency type
  packages/core/src/services/plugin/plugin.service.ts
Owners: @wzhudev

chore: validate plugin dependency type (#4646)
  packages/core/src/services/plugin/plugin.service.ts
Owners: @wzhudev

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @wzhudev

chore: remove documention section
  CONTRIBUTING.md
Owners: @wzhudev

fix(facade): add ranges to setBorder
  packages/sheets/src/commands/commands/set-border-command.ts
  packages/sheets/src/facade/f-range.ts
Owners: @wzhudev, @VicKun4937, @weird94

fix(facade): add ranges to setBorder (#4650)
  packages/sheets/src/commands/commands/set-border-command.ts
  packages/sheets/src/facade/f-range.ts
Owners: @wzhudev, @VicKun4937, @weird94

chore: update CONTRIBUTING.md (#4649)
  CONTRIBUTING.md
Owners: @wzhudev

fix: fix merge
  packages/core/src/facade/f-hooks.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement core packages facade notes and example
  packages/core/src/facade/f-blob.ts
  packages/core/src/facade/f-enum.ts
  packages/core/src/facade/f-event-registry.ts
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-hooks.ts
  packages/core/src/facade/f-univer.ts
  packages/core/src/facade/f-util.ts
  packages/core/src/shared/rectangle.ts
  packages/sheets-formula-ui/src/controllers/formula-clipboard.controller.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937, @wzhudev, @DR-Univer, @Dushusir

docs(facade): supplement notes and example
  packages/engine-formula/src/facade/f-formula.ts
  packages/sheets/src/facade/f-defined-name.ts
  packages/sheets/src/facade/f-univer.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement facade notes and example
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: fix scroll with multi units
  examples/src/sheets/main.ts
  packages/sheets-ui/src/commands/commands/set-selection.command.ts
  packages/sheets-ui/src/controllers/render-controllers/scroll.render-controller.ts
Owners: @jikkai, @wzhudev

fix(permission): point updates only need to be executed on the client side
  packages/sheets/src/controllers/permission/sheet-permission-init.controller.ts
Owners: @wzhudev, @VicKun4937

docs(facade): supplement notes and example
  packages/core/src/facade/f-enum.ts
  packages/sheets/src/facade/f-enum.ts
  packages/sheets/src/facade/f-range.ts
  packages/sheets/src/index.ts
Owners: @weird94, @VicKun4937, @wzhudev

docs(facade): supplement notes and example
  packages/sheets/src/facade/f-selection.ts
Owners: @weird94, @VicKun4937

fix: fix FRange.setValue notes
  packages/sheets/src/facade/f-range.ts
Owners: @weird94, @VicKun4937
