Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

fix: mem leak in format painter
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
Owners: @jikkai, @wzhudev

test: test 3
  packages/core/src/sheets/typedef.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
Owners: @wzhudev, @lumixraku, @jikkai

chore: better code
  packages/engine-render/src/viewport.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @lumixraku, @jikkai, @wzhudev

test: test1
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none

fix: dom limit by spec viewBounds
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: @lumixraku

fix: bug by changing the judgment condition from < to <=
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none

chore: better code
  packages/core/src/index.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @wzhudev, @jikkai

fix: get renderUnit by Id not type
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
Owners: @jikkai, @wzhudev

fix: mem leak
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @jikkai, @wzhudev

feat: move listener to render module
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/format-painter.render-controller.ts
Owners: @jikkai, @wzhudev

fix: fix paste dropdown in workspace
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
Owners: @jikkai, @wzhudev

fix: float dom after freeze (#4587)
  packages/core/src/index.ts
  packages/core/src/sheets/typedef.ts
  packages/engine-render/src/components/sheets/sheet.render-skeleton.ts
  packages/engine-render/src/viewport.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @wzhudev, @lumixraku, @jikkai

chore: update
  packages/sheets-filter-ui/src/worker/generate-filter-values.service.ts
Owners: @ybzky, @yuhongz

fix: remove redundant API
  packages/engine-render/src/render-manager/render-manager.service.ts
Owners: @lumixraku

fix: fix render unit and interceptor memory leak
  packages/engine-render/src/render-manager/render-manager.service.ts
  packages/engine-render/src/render-manager/render-unit.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/models/filter-model.ts
  packages/sheets-ui/src/controllers/auto-fill.controller.ts
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/controllers/permission/sheet-permission-render.controller.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
  packages/sheets/src/model/range-protection-rule.model.ts
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: @lumixraku, @ybzky, @yuhongz, @jikkai, @wzhudev, @VicKun4937, @Gggpound

fix: mem leak in format painter
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
Owners: @jikkai, @wzhudev

feat: move listener to render module
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/format-painter.render-controller.ts
Owners: @jikkai, @wzhudev

fix: fix memory leak in skeleton manager and image cropper
  packages/drawing-ui/src/controllers/image-cropper.controller.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
Owners: @weird94, @jikkai, @wzhudev

fix: revert unintented change
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
Owners: @yuhongz

fix: fix multi memory leak problems (#4591)
  packages/drawing-ui/src/controllers/image-cropper.controller.ts
  packages/engine-render/src/render-manager/render-unit.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/models/filter-model.ts
  packages/sheets-ui/src/controllers/auto-fill.controller.ts
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/controllers/format-painter/format-painter.controller.ts
  packages/sheets-ui/src/controllers/permission/sheet-permission-render.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/format-painter.render-controller.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
  packages/sheets/src/model/range-protection-rule.model.ts
  packages/sheets/src/services/sheet-interceptor/sheet-interceptor.service.ts
Owners: @weird94, @lumixraku, @ybzky, @yuhongz, @jikkai, @wzhudev, @VicKun4937, @Gggpound

test: test mem
  e2e/memory/memory.spec.ts
Owners: none

test: record mem snapshot 1st try
  e2e/memory/memory.spec.ts
  e2e/perf/scroll.spec.ts
Owners: none

test: better code
  .gitignore
  e2e/memory/memory.spec.ts
Owners: none

feat: update
  packages/sheets-data-validation-ui/src/locale/en-US.ts
Owners: none

chore: fix clipboard menu memory leak
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
Owners: @yuhongz, @jikkai, @wzhudev

chore: fix export problem
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/basics/tools.ts
Owners: @wzhudev, @lumixraku

chore: fix export problem (#4597)
  packages/core/src/sheets/sheet-skeleton.ts
  packages/engine-render/src/basics/tools.ts
Owners: @wzhudev, @lumixraku

chore: add clipboard render controller
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/clipboard.render-controller.ts
  packages/sheets-ui/src/plugin.ts
Owners: @yuhongz, @jikkai, @wzhudev

test: try upload snapshots
  .github/workflows/playwright.yml
  e2e/memory/memory.spec.ts
  e2e/perf/scroll.spec.ts
Owners: @jikkai, @wzhudev, @hexf00

test: in test-results
  .github/workflows/playwright.yml
  e2e/memory/memory.spec.ts
  playwright.config.ts
Owners: @jikkai, @wzhudev, @hexf00

test: upload only when failed
  .github/workflows/playwright.yml
Owners: @jikkai, @wzhudev, @hexf00

test: upload only when failed 2
  .github/workflows/playwright.yml
Owners: @jikkai, @wzhudev, @hexf00

chore: better code
  e2e/memory/memory.spec.ts
Owners: none

chore: fix clipboard menu memory leak (#4595)
  packages/sheets-ui/src/controllers/clipboard/clipboard.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/clipboard.render-controller.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
Owners: @yuhongz, @jikkai, @wzhudev

chore: fix drawing permission memory leak
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-permission.controller.ts
Owners: none

fix: upload snapshot as artifacts when test failed, record hean snapshot in mem test (#4594)
  .github/workflows/playwright.yml
  .gitignore
  e2e/memory/memory.spec.ts
  e2e/perf/scroll.spec.ts
  playwright.config.ts
Owners: @jikkai, @wzhudev, @hexf00

chore: export fix
  packages/core/src/index.ts
Owners: @wzhudev

chore: export fix (#4599)
  packages/core/src/index.ts
Owners: @wzhudev

fix(drawing): drawing permission memory leak (#4598)
  packages/sheets-drawing-ui/src/controllers/sheet-drawing-permission.controller.ts
Owners: none

fix(formula): fix generate valueObject because number format is text format
  packages/engine-formula/package.json
  packages/engine-formula/src/engine/reference-object/base-reference-object.ts
  packages/sheets-numfmt/src/controllers/numfmt-cell-content.controller.ts
  packages/sheets/src/services/__tests__/numfmt.service.test.ts
  pnpm-lock.yaml
Owners: @Dushusir, @wzhudev, @Gggpound, @VicKun4937
