Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

test: higher threshold
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
Owners: none

refactor(core): optimize plugin service (#4662)
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
  packages/core/src/index.ts
  packages/core/src/services/__tests__/index.ts
  packages/core/src/services/plugin/plugin.service.ts
  packages/core/src/services/plugin/plugin.ts
  packages/core/src/univer.ts
Owners: @wzhudev

fix: fix plugin lazy loading not working
  packages/core/src/services/plugin/plugin.service.ts
Owners: @wzhudev

fix: fix plugin lazy loading not working (#4668)
  packages/core/src/services/plugin/plugin.service.ts
Owners: @wzhudev

fix(numfmt): text format excel, default format
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
  packages/engine-formula/src/engine/reference-object/base-reference-object.ts
  packages/engine-formula/src/engine/utils/__tests__/numfmt-kit.spec.ts
  packages/engine-numfmt/src/index.ts
  packages/engine-numfmt/src/util.ts
  packages/sheets-numfmt-ui/src/controllers/menu.ts
  packages/sheets-numfmt-ui/src/controllers/numfmt-alert-render.controller.ts
  packages/sheets-numfmt-ui/src/controllers/numfmt.editor.controller.ts
  packages/sheets-numfmt/src/commands/commands/set-numfmt.command.ts
  packages/sheets-numfmt/src/controllers/numfmt-cell-content.controller.ts
  packages/sheets-ui/src/controllers/editor/__tests__/end-edit.controller.spec.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets/src/basics/cell-type.ts
  packages/sheets/src/commands/commands/__tests__/set-range-values.command.spec.ts
  packages/sheets/src/services/__tests__/numfmt.service.test.ts
  packages/sheets/src/services/__tests__/util.ts
Owners: @Dushusir, @wzhudev, @Gggpound, @Jocs, @VicKun4937

chore(numfmt): use const
  packages/sheets-ui/src/controllers/editor/__tests__/end-edit.controller.spec.ts
Owners: @Jocs

fix(numfmt): text format excel, default format (#4669)
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts
  packages/engine-formula/src/engine/reference-object/base-reference-object.ts
  packages/engine-formula/src/engine/utils/__tests__/numfmt-kit.spec.ts
  packages/engine-numfmt/src/index.ts
  packages/engine-numfmt/src/util.ts
  packages/sheets-numfmt-ui/src/controllers/menu.ts
  packages/sheets-numfmt-ui/src/controllers/numfmt-alert-render.controller.ts
  packages/sheets-numfmt-ui/src/controllers/numfmt.editor.controller.ts
  packages/sheets-numfmt/src/commands/commands/set-numfmt.command.ts
  packages/sheets-numfmt/src/controllers/numfmt-cell-content.controller.ts
  packages/sheets-ui/src/controllers/editor/__tests__/end-edit.controller.spec.ts
  packages/sheets-ui/src/controllers/editor/editing.render-controller.ts
  packages/sheets/src/basics/cell-type.ts
  packages/sheets/src/commands/commands/__tests__/set-range-values.command.spec.ts
  packages/sheets/src/services/__tests__/numfmt.service.test.ts
  packages/sheets/src/services/__tests__/util.ts
Owners: @Dushusir, @wzhudev, @Gggpound, @Jocs, @VicKun4937

chore: optimize XHR impl log
  packages/engine-formula/src/basics/cache-lru.ts
  packages/network/src/services/http/implementations/xhr.ts
Owners: @Dushusir, @wzhudev

chore: optimize XHR impl log (#4672)
  packages/engine-formula/src/basics/cache-lru.ts
  packages/network/src/services/http/implementations/xhr.ts
Owners: @Dushusir, @wzhudev

fix(ui): fix the issue where disabling shortcuts through the facade API does not work (#4618)
  packages/ui/src/facade/f-shortcut.ts
  packages/ui/src/services/shortcut/shortcut.service.ts
Owners: @weird94, @VicKun4937, @jikkai, @Jocs

fix: edit other sheet range error
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-left-and-right-arrow.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: config for float statistic
  packages/core/src/common/const.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @jikkai, @VicKun4937

test: try to customize statistic float
  packages/core/src/services/lifecycle/lifecycle.service.ts
  packages/sheets-ui/src/services/status-bar.service.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @wzhudev, @jikkai

fix: little fix dropdown style
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

chore: try use new dropdown
  packages/design/src/components/dropdown/DropdownOverlay.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

fix: add translation & limit 3
  packages/core/src/services/lifecycle/lifecycle.service.ts
  packages/design/src/index.ts
  packages/design/src/themes/index.ts
  packages/design/src/themes/theme.ts
  packages/sheets-ui/src/services/status-bar.service.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @wzhudev, @jikkai

fix: use primay theme color
  packages/design/src/index.ts
  packages/design/src/themes/index.ts
  packages/design/src/themes/theme.ts
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

test: selection dom pos
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @jikkai, @wzhudev

fix: style for dropdown
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

fix: anchor label
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

docs(facade): supplement notes and example
  packages/sheets-conditional-formatting/src/facade/f-range.ts
  packages/sheets-conditional-formatting/src/facade/f-worksheet.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/views/widgets/crosshair-highlight-shape.ts
  packages/sheets-data-validation/src/facade/f-data-validation-builder.ts
  packages/sheets-data-validation/src/facade/f-data-validation.ts
  packages/sheets-data-validation/src/facade/f-event.ts
  packages/sheets-data-validation/src/facade/f-range.ts
  packages/sheets-data-validation/src/facade/f-workbook.ts
  packages/sheets-data-validation/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-univer.ts
  packages/drawing-ui/src/controllers/image-update.controller.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-data-validation/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-over-grid-image.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-data-validation/src/facade/f-event.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example (#4677)
  packages/core/src/facade/f-event.ts
  packages/core/src/facade/f-univer.ts
  packages/drawing-ui/src/controllers/image-update.controller.ts
  packages/sheets-conditional-formatting/src/facade/f-range.ts
  packages/sheets-conditional-formatting/src/facade/f-worksheet.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/views/widgets/crosshair-highlight-shape.ts
  packages/sheets-data-validation/src/facade/f-data-validation-builder.ts
  packages/sheets-data-validation/src/facade/f-data-validation.ts
  packages/sheets-data-validation/src/facade/f-event.ts
  packages/sheets-data-validation/src/facade/f-range.ts
  packages/sheets-data-validation/src/facade/f-workbook.ts
  packages/sheets-data-validation/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-over-grid-image.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: change color
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @jikkai, @wzhudev

fix: capture object
  packages/engine-render/src/scene.input-manager.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/shape/base-scroll-bar.ts
  packages/engine-render/src/shape/scroll-bar.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
Owners: @lumixraku, @jikkai, @wzhudev

fix: change color
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

chore: remove unused comment
  packages/engine-formula/src/services/defined-names.service.ts
Owners: @Dushusir, @wzhudev

chore: for loop
  packages/engine-formula/src/services/defined-names.service.ts
Owners: @Dushusir, @wzhudev

chore(formula): defined name cache for getValueByName
  packages/engine-formula/src/services/defined-names.service.ts
Owners: @Dushusir, @wzhudev

fix: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

chore(formula): defined name cache for getValueByName (#4675)
  packages/engine-formula/src/services/defined-names.service.ts
Owners: @Dushusir, @wzhudev

fix: export some config for Dropdown OverLay
  packages/design/src/components/dropdown/DropdownOverlay.tsx
  packages/sheets-ui/src/index.ts
Owners: @jikkai, @wzhudev

chore: export IStatusBarService
  packages/sheets-ui/src/index.ts
Owners: @jikkai, @wzhudev

feat: update
  packages/engine-render/src/components/sheets/watermark/index.ts
  packages/engine-render/src/components/sheets/watermark/type.ts
  packages/engine-render/src/components/sheets/watermark/util.ts
  packages/engine-render/src/components/sheets/watermark/watermark-layer.ts
  packages/watermark/src/common/const.ts
  packages/watermark/src/controllers/watermark.render.controller.ts
  packages/watermark/src/facade/f-univer.ts
  packages/watermark/src/index.ts
  packages/watermark/src/services/watermark.service.ts
Owners: @lumixraku, @ybzky, @weird94, @VicKun4937

chore: export some config for dropdown overlay (#4680)
  packages/design/src/components/dropdown/DropdownOverlay.tsx
  packages/sheets-ui/src/index.ts
Owners: @jikkai, @wzhudev

fix: init demo
  examples/src/sheets-multi-units/main.ts
  packages/engine-formula/src/services/calculate-formula.service.ts
Owners: @Dushusir, @wzhudev

chore: add multi units playground
  examples/esbuild.config.ts
  examples/src/main.tsx
  examples/src/sheets-multi-units/lazy.ts
  examples/src/sheets-multi-units/main.ts
  examples/src/sheets-multi-units/styles.ts
  examples/src/sheets-multi-units/very-lazy.ts
Owners: none

fix(formula): calculation mode
  packages/sheets-formula-ui/src/sheets-formula-ui.plugin.ts
  packages/sheets-formula/src/facade/f-formula.ts
  packages/sheets-formula/src/sheets-formula.plugin.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @weird94, @VicKun4937

chore(formula): dispose in formula engine
  packages/engine-formula/src/services/current-data.service.ts
  packages/engine-formula/src/services/dependency-manager.service.ts
  packages/engine-formula/src/services/feature-calculation-manager.service.ts
  packages/engine-formula/src/services/function.service.ts
  packages/engine-formula/src/services/global-computing-status.service.ts
  packages/engine-formula/src/services/other-formula-manager.service.ts
  packages/engine-formula/src/services/super-table.service.ts
Owners: @Dushusir, @wzhudev

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
