Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

chore: add ts check
  packages/sheets/src/facade/f-permission.ts
Owners: @weird94, @VicKun4937

feat: update
  packages/data-validation/src/index.ts
  packages/data-validation/src/validators/base-data-validator.ts
  packages/sheets-data-validation-ui/src/views/components/date-dropdown/index.tsx
  packages/sheets-data-validation/src/index.ts
Owners: @weird94

fix(formula): fix insert function of range has number value
  packages/sheets-formula-ui/src/commands/operations/__tests__/insert-function.operation.spec.ts
  packages/sheets-formula-ui/src/commands/operations/insert-function.operation.ts
  packages/sheets-formula/src/commands/commands/insert-function.command.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix(formula): fix insert function of range has number value
  packages/sheets-formula-ui/src/commands/operations/insert-function.operation.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix(formula): fix insert function of range has number value (#4561)
  packages/sheets-formula-ui/src/commands/operations/__tests__/insert-function.operation.spec.ts
  packages/sheets-formula-ui/src/commands/operations/insert-function.operation.ts
  packages/sheets-formula/src/commands/commands/insert-function.command.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

docs: add deprecation linking
  CONTRIBUTING.md
Owners: @wzhudev

chore(core): add deprecate API (#4539)
  CONTRIBUTING.md
  docs/CONTRIBUTING-FACADE.md
  packages/core/src/services/log/log.service.ts
  packages/find-replace/docs/README.md
Owners: @wzhudev, @siam-ese

ci: update artifact to v4
  .github/workflows/setup.yml
Owners: @jikkai, @wzhudev, @hexf00

feat(network): support array params
  packages/network/src/services/http/__testing__/http-params.spec.ts
  packages/network/src/services/http/params.ts
Owners: @wzhudev

chore: optimize code
  packages/network/src/services/http/params.ts
Owners: @wzhudev

fix: fix some permission bugs (#4478)
  packages/core/src/univer.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/sheets-plugin.ts
  tests/formula-integration/src/__snapshots__/test-formula-correctness---basic-sum-result.json
  tests/formula-integration/src/__snapshots__/test-formula-correctness---basic-sum.json
Owners: @wzhudev, @jikkai, @weird94, @VicKun4937

feat(network): support array params (#4563)
  packages/network/src/services/http/__testing__/http-params.spec.ts
  packages/network/src/services/http/params.ts
Owners: @wzhudev

fix(docs): fix comments error
  packages/core/src/shared/types.ts
  packages/core/src/types/enum/border-style-types.ts
  packages/core/src/types/enum/text-style.ts
  packages/core/src/types/enum/theme-color-type.ts
Owners: @wzhudev

feat: move dropdown from data-validation to sheets-ui as a common service
  packages/data-validation/src/index.ts
  packages/data-validation/src/validators/base-data-validator.ts
  packages/sheets-data-validation-ui/src/commands/operations/data-validation.operation.ts
  packages/sheets-data-validation-ui/src/controllers/dv-render.controller.ts
  packages/sheets-data-validation-ui/src/controllers/dv-ui.controller.ts
  packages/sheets-data-validation-ui/src/services/dropdown-manager.service.ts
  packages/sheets-data-validation-ui/src/views/components/date-dropdown/index.tsx
  packages/sheets-data-validation-ui/src/views/components/drop-down/CellDropdown.tsx
  packages/sheets-data-validation-ui/src/views/components/panel/index.tsx
  packages/sheets-data-validation-ui/src/views/validator-views/date-validator-view.ts
  packages/sheets-data-validation-ui/src/views/validator-views/list-multiple-view.ts
  packages/sheets-data-validation-ui/src/views/validator-views/list-validator-view.ts
  packages/sheets-data-validation-ui/src/views/validator-views/sheet-validator-view.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/mobile-plugin.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets-ui/src/services/cell-dropdown-manager.service.ts
  packages/sheets-ui/src/views/dropdown/date-dropdown/index.module.less
  packages/sheets-ui/src/views/dropdown/date-dropdown/index.tsx
  packages/sheets-ui/src/views/dropdown/index.ts
  packages/sheets-ui/src/views/dropdown/list-dropdown/index.module.less
  packages/sheets-ui/src/views/dropdown/list-dropdown/index.tsx
  packages/sheets-ui/src/views/dropdown/type.ts
  packages/ui/src/services/popup/canvas-popup.service.ts
Owners: @weird94, @jikkai, @wzhudev

feat: update
  packages/sheets-data-validation-ui/src/services/dropdown-manager.service.ts
Owners: none

chore(core): update redi version for better error msg
  packages/core/package.json
  pnpm-lock.yaml
Owners: @wzhudev

feat: update
  packages/data-validation/src/validators/base-data-validator.ts
  packages/design/src/components/cascader-list/CascaderList.tsx
  packages/design/src/components/cascader-list/index.ts
  packages/design/src/index.ts
  packages/sheets-ui/src/services/cell-dropdown-manager.service.ts
  packages/sheets-ui/src/views/dropdown/cascader-dropdown/index.tsx
  packages/sheets-ui/src/views/dropdown/color-dropdown/index.tsx
  packages/sheets-ui/src/views/dropdown/index.ts
Owners: @weird94, @jikkai, @wzhudev

chore: update sdk permission
  packages/core/src/services/authz-io/authz-io-local.service.ts
  packages/core/src/services/authz-io/type.ts
  packages/core/src/services/user-manager/user-manager.service.ts
  packages/sheets-ui/src/controllers/permission/sheet-permission-render.controller.ts
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/facade/f-permission.ts
  packages/sheets/src/index.ts
  packages/sheets/src/services/permission/range-permission/range-protection.service.ts
  packages/sheets/src/services/permission/worksheet-permission/worksheet-permission.service.ts
  packages/ui/src/services/menu/menu-manager.service.ts
Owners: @wzhudev, @jikkai, @VicKun4937, @weird94, @Jocs

chore(core): update redi version for better error msg (#4566)
  packages/core/package.json
  pnpm-lock.yaml
Owners: @wzhudev

chore: add custom header in sheet facade
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/ui/src/views/components/popup/RectPopup.tsx
Owners: @lumixraku, @weird94, @VicKun4937, @jikkai, @Jocs

chore: add horizontal padding in column header
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/sheets-ui/src/facade/f-univer.ts
Owners: @lumixraku, @weird94, @VicKun4937

chore: better code
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
Owners: @jikkai, @wzhudev, @weird94, @VicKun4937

fix: set header size in freeze viewport
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/sheets-ui/src/commands/commands/headersize-changed.command.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/zoom.render-controller.ts
  packages/sheets-ui/src/controllers/sheet-ui.controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/sheets/src/commands/commands/insert-range-move-right.command.ts
Owners: @lumixraku, @jikkai, @wzhudev, @weird94, @VicKun4937

fix(*): add ignore comments for facade
  packages-experimental/sheets-source-binding/src/facade/f-enum.ts
  packages/sheets-drawing-ui/src/facade/f-enum.ts
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-find-replace/src/facade/f-univer.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-event.ts
  packages/watermark/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix(*): add ignore comments for facade (#4568)
  packages-experimental/sheets-source-binding/src/facade/f-enum.ts
  packages/sheets-drawing-ui/src/facade/f-enum.ts
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-find-replace/src/facade/f-univer.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-ui/src/facade/f-event.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-workbook.ts
  packages/sheets/src/facade/f-event.ts
  packages/watermark/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

feat: better col header facade (#4549)
  packages/engine-render/src/components/sheets/extensions/column-header-layout.ts
  packages/engine-render/src/components/sheets/interfaces.ts
  packages/sheets-ui/src/commands/commands/headersize-changed.command.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/zoom.render-controller.ts
  packages/sheets-ui/src/controllers/sheet-ui.controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/facade/f-worksheet.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/sheets/src/commands/commands/insert-range-move-right.command.ts
  packages/ui/src/views/components/popup/RectPopup.tsx
Owners: @lumixraku, @jikkai, @wzhudev, @weird94, @VicKun4937, @Jocs

fix(docs): fix comments error (#4564)
  packages/core/src/shared/types.ts
  packages/core/src/types/enum/border-style-types.ts
  packages/core/src/types/enum/text-style.ts
  packages/core/src/types/enum/theme-color-type.ts
Owners: @wzhudev

fix: before edit event can't cancel by formula-bar
  examples/src/sheets/main.ts
  packages/core/src/facade/f-univer.ts
  packages/docs-ui/src/services/editor/editor-manager.service.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/useFocus.ts
  packages/sheets-ui/src/controllers/editor/formula-editor.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/editor-bridge.render-controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/sheets-ui/src/views/formula-bar/index.module.less
Owners: @weird94, @VicKun4937, @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/docs-ui/src/commands/commands/ime-input.command.ts
Owners: @jikkai, @Jocs

fix(sheets): before edit event can't cancel by formula-bar (#4569)
  examples/src/sheets/main.ts
  packages/core/src/facade/f-univer.ts
  packages/docs-ui/src/services/editor/editor-manager.service.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/useFocus.ts
  packages/sheets-ui/src/controllers/editor/formula-editor.controller.ts
  packages/sheets-ui/src/controllers/render-controllers/editor-bridge.render-controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/sheets-ui/src/views/formula-bar/index.module.less
Owners: @weird94, @VicKun4937, @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/core/src/docs/data-model/rich-text-builder.ts
Owners: @wzhudev

feat: u
  packages/core/src/docs/data-model/rich-text-builder.ts
Owners: @wzhudev

feat: update
  packages/sheets-data-validation-ui/src/services/dropdown-manager.service.ts
Owners: none

ci: update artifact to v4 (#4562)
  .github/workflows/setup.yml
Owners: @jikkai, @wzhudev, @hexf00

fix(facade): hide constructor and ignore injector getter
  packages/core/src/univer.ts
Owners: @wzhudev

fix(facade): hide constructor and ignore injector getter (#4571)
  packages/core/src/univer.ts
Owners: @wzhudev

chore: remove keepNames
  common/shared/vite/index.ts
Owners: @jikkai

fix(sheets): save text editor style (#4570)
  packages/core/src/docs/data-model/rich-text-builder.ts
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/commands/commands/ime-input.command.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @wzhudev, @jikkai, @Jocs

chore: remove keepNames (#4572)
  common/shared/vite/index.ts
Owners: @jikkai

fix(statusbar): fix status bar can not read date type cell
  packages-experimental/sheets-source-binding/src/model/source-model.ts
  packages-experimental/sheets-source-binding/src/types.ts
  packages/sheets-ui/src/controllers/status-bar.controller.ts
Owners: @jikkai, @wzhudev

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
