Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

chore: add create theme api
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/index.ts
Owners: @weird94, @VicKun4937, @wzhudev

chore: update param name
  packages/sheets/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

fix: add doc for sheets-ui event
  packages/sheets-ui/src/facade/f-event.ts
Owners: @weird94, @VicKun4937

chore: fix ts
  packages-experimental/sheets-source-binding/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

chore: update source facade (#4536)
  packages-experimental/sheets-source-binding/src/controllers/binding-manager.ts
  packages-experimental/sheets-source-binding/src/facade/f-workbook.ts
  packages-experimental/sheets-source-binding/src/index.ts
  packages/sheets/src/facade/f-workbook.ts
  packages/sheets/src/index.ts
Owners: @weird94, @VicKun4937, @wzhudev

chore(core): add deprecate API
  CONTRIBUTING.md
  packages/core/src/services/log/log.service.ts
Owners: @wzhudev

fix: fix word
  packages/core/src/services/log/log.service.ts
Owners: @wzhudev

fix: use error instead of warn
  packages/core/src/services/log/log.service.ts
Owners: @wzhudev

fix(facade): add doc for sheets-ui event (#4538)
  packages/sheets-ui/src/facade/f-event.ts
Owners: @weird94, @VicKun4937

fix(sheet): support read default style when create editor
  packages/core/src/sheets/worksheet.ts
  packages/engine-render/src/components/sheets/sheet-skeleton.ts
  packages/sheets-ui/src/services/editor-bridge.service.ts
Owners: @wzhudev, @lumixraku, @Jocs

fix: style error when save text from cell-editor
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @jikkai, @Jocs

fix(sheets-ui): style error when save text from cell-editor (#4541)
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @jikkai, @Jocs

fix(sheet): fix range theme cmd param error
  packages/sheets/src/commands/commands/register-range-theme.command.ts
Owners: @wzhudev, @VicKun4937

fix(sheet): fix range theme cmd param error (#4542)
  packages/sheets/src/commands/commands/register-range-theme.command.ts
Owners: @wzhudev, @VicKun4937

feat(ui): support hiding footer and header (#4455)
  packages/ui/src/controllers/ui/ui-desktop.controller.tsx
  packages/ui/src/services/parts/parts.service.ts
  packages/ui/src/views/components/ComponentContainer.tsx
  packages/ui/src/views/workbench/Workbench.tsx
  packages/ui/src/views/workbench/workbench.module.less
Owners: @jikkai, @Jocs

fix(filter): fix filter enum
  packages/sheets-filter/src/facade/f-enum.ts
Owners: @weird94, @VicKun4937

fix: revert set text style
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @jikkai, @Jocs

fix(filter): fix filter enum (#4543)
  packages/sheets-filter/src/facade/f-enum.ts
Owners: @weird94, @VicKun4937

fix: revert set text style (#4544)
  packages/docs-ui/src/basics/paragraph.ts
  packages/docs-ui/src/controllers/render-controllers/doc-input.controller.ts
Owners: @jikkai, @Jocs

feat(slider): replace DropdownLegacy with Dropdown components and update styles
  packages/design/src/components/slider/Slider.tsx
  packages/design/src/components/slider/index.module.less
Owners: @jikkai

fix: fix the case of import paths to ensure consistency
  examples/package.json
  package.json
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/ColorScale.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/DataBar.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/Formula.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/HighlightCell.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/IconSet.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/Rank.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.tsx
  pnpm-lock.yaml
Owners: @jikkai, @Gggpound

chore(snapshots): update snapshots
  e2e/visual-comparison/docs/docs-visual-comparison.spec.ts-snapshots/default-doc-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-gridlines.spec.ts-snapshots/sheets-no-gridlines-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
Owners: @wzhudev

chore: update React peer dependency to support version 19
  common/shared/vite/data.ts
  packages-experimental/action-recorder/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/core/package.json
  packages/design/package.json
  packages/design/src/components/slider/Slider.tsx
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-mention-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  packages/uniscript/package.json
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @Dushusir

feat: update React JSX transform and improve ReactDOM imports
  common/shared/tsconfigs/base.json
  common/shared/vite/data.ts
  packages/design/src/utils/render.ts
Owners: @jikkai

fix(docs-ui): fix the issue of initial rendering failure
  packages/docs-ui/src/docs-ui-plugin.ts
Owners: @jikkai, @Jocs

chore: cleanup package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages/design/package.json
  packages/sheets-drawing/package.json
  packages/uniscript/package.json
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev

feat(defined-name): replace Input with native input and add change handler
  packages/sheets-ui/src/views/defined-name/DefinedName.tsx
Owners: @jikkai, @wzhudev

chore: update @testing-library/react to version 16.1.0
  pnpm-lock.yaml
Owners: none

feat: update React components for improved type safety and compatibility
  common/shared/eslint/index.js
  packages/design/src/components/dropdown/DropdownProvider.tsx
  packages/design/src/components/input/Input.tsx
  packages/design/src/components/tooltip/Tooltip.tsx
  packages/docs-ui/src/views/rich-text-editor/index.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/IconSet.tsx
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
Owners: @jikkai, @Jocs, @Gggpound, @DR-Univer, @wzhudev, @Dushusir

chore: fix ts issues
  examples/esbuild.config.ts
  packages-experimental/uni-slides-ui/src/views/UniSlideSideBar.tsx
  packages/design/src/components/dialog/Dialog.tsx
  packages/design/src/utils/render.ts
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/iconSet.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.tsx
  packages/sheets-data-validation-ui/src/views/components/item/index.tsx
  packages/sheets-drawing/package.json
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useSheetSelectionChange.ts
  packages/sheets-formula-ui/src/views/formula-editor/search-function/SearchFunction.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/useSheetSelectionChange.ts
  packages/sheets-thread-comment-ui/src/views/sheets-thread-comment-panel/index.tsx
  packages/sheets-ui/src/views/mobile/sheet-bar/MobileSheetBar.tsx
  packages/slides-ui/src/components/slide-bar/SlideBar.tsx
  packages/ui/src/components/custom-label/CustomLabel.tsx
  packages/ui/src/views/components/popup/RectPopup.tsx
  pnpm-lock.yaml
Owners: @jikkai, @Gggpound, @DR-Univer, @wzhudev, @Dushusir, @weird94, @Jocs

test: fix test case
  packages/design/src/components/input/__tests__/Input.spec.tsx
Owners: @jikkai

chore: downgrade React version to 18.3.1 across multiple packages
  packages-experimental/action-recorder/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/design/package.json
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-mention-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
Owners: @jikkai, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @wzhudev, @Dushusir

chore: update for React 19 compatibility
  common/shared/vite/index.ts
  examples/esbuild.config.ts
  examples/package.json
  examples/src/main.tsx
  examples/src/sheets-multi/main.tsx
  package.json
  packages-experimental/action-recorder/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages-experimental/uniui/src/controllers/uniui-desktop.controller.tsx
  packages/design/package.json
  packages/design/src/index.ts
  packages/design/src/utils/render.ts
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-mention-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  packages/ui/src/controllers/ui/ui-desktop.controller.tsx
  packages/ui/src/controllers/ui/ui-mobile.controller.tsx
  pnpm-lock.yaml
Owners: @jikkai, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @wzhudev, @Dushusir

fix: update freeze handle in left top viewport size when column header size changed
  packages/engine-render/src/scene.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/ui/src/views/components/dom/FloatDom.tsx
Owners: @lumixraku, @jikkai, @wzhudev, @weird94, @VicKun4937, @Jocs

fix: add facade api for attach popup
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-range.ts
  packages/sheets-ui/src/services/canvas-pop-manager.service.ts
  packages/ui/src/facade/f-univer.ts
  packages/ui/src/views/components/popup/RectPopup.tsx
Owners: @jikkai, @wzhudev, @weird94, @VicKun4937, @Jocs

fix: update freeze handle in left top viewport size when column heade… (#4545)
  packages/engine-render/src/scene.ts
  packages/sheets-ui/src/controllers/render-controllers/freeze.render-controller.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/facade/f-range.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-ui/src/services/canvas-pop-manager.service.ts
  packages/sheets-ui/src/services/sheet-skeleton-manager.service.ts
  packages/ui/src/facade/f-univer.ts
  packages/ui/src/views/components/dom/FloatDom.tsx
  packages/ui/src/views/components/popup/RectPopup.tsx
Owners: @lumixraku, @jikkai, @wzhudev, @weird94, @VicKun4937, @Jocs

feat(ui): add ui facade menu position
  examples/src/sheets/main.ts
  packages/sheets-ui/src/views/sheet-container/SheetContainer.tsx
  packages/ui/src/facade/f-menu-builder.ts
Owners: @jikkai, @wzhudev, @weird94, @VicKun4937

chore: revert test changes
  examples/src/sheets/main.ts
Owners: none

fix: fix FSubmenu
  packages/ui/src/facade/f-menu-builder.ts
Owners: @weird94, @VicKun4937

fix(ui): add return type for ComponentContainer function
  packages/ui/src/views/components/ComponentContainer.tsx
Owners: @jikkai, @Jocs
