Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @hexf00, @VicKun4937, @weird94, @Dushusir, @wpxp123456, @Jocs, @siam-ese, @ybzky, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @jikkai

CONTRIBUTING.md @jikkai

## core & fundamental

packages/core @jikkai
packages/core/src/services/resource-loader @VicKun4937
packages/core/src/services/resource-manager @VicKun4937
packages/core/src/services/permission @VicKun4937
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wpxp123456
packages/engine-numfmt @VicKun4937
packages/engine-render @Jocs
packages/engine-render/components/docs @Jocs
packages/find-replace @siam-ese
packages/network @jikkai
packages/rpc @jikkai
packages/rpc-node @jikkai
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @jikkai
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @VicKun4937
packages/sheets-conditional-formatting @VicKun4937
packages/sheets-conditional-formatting-ui @VicKun4937
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wpxp123456 @Dushusir
packages/sheets-formula-ui @DR-Univer @wpxp123456 @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @VicKun4937
packages/sheets-numfmt-ui @VicKun4937
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @VicKun4937
packages/sheets/src/services/ref-range @VicKun4937
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @VicKun4937

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz

feat: add float-dom update & delete & event api (#5515)
  packages/sheets-drawing-ui/src/basics/transform-position.ts
  packages/sheets-drawing-ui/src/facade/f-event.ts
  packages/sheets-drawing-ui/src/facade/f-univer.ts
  packages/sheets-drawing-ui/src/facade/f-worksheet.ts
  packages/sheets-drawing-ui/src/index.ts
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
  packages/ui/src/services/dom/canvas-dom-layer.service.ts
Owners: @weird94, @VicKun4937, @jikkai

fix(sheets-formula-ui): can't drag selections when edit formula (#5512)
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-highlight.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wpxp123456, @Dushusir

fix(dts): simplify interface declarations and improve method overrides in event and range modules
  packages/sheets-note/src/facade/f-event.ts
  packages/sheets-note/src/facade/f-range.ts
  packages/sheets-note/src/facade/f-univer.ts
  packages/sheets-note/src/facade/f-worksheet.ts
  packages/sheets-table/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

fix(dts): simplify interface declarations and improve method overrides in event and range modules (#5516)
  packages/sheets-note/src/facade/f-event.ts
  packages/sheets-note/src/facade/f-range.ts
  packages/sheets-note/src/facade/f-univer.ts
  packages/sheets-note/src/facade/f-worksheet.ts
  packages/sheets-table/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

feat(sheets-drawing-ui): add updateFloatDomProps
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none

feat(sheets-drawing-ui): add updateFloatDomProps (#5517)
  packages/sheets-drawing-ui/src/services/canvas-float-dom-manager.service.ts
Owners: none

fix(sheets-filter-ui): adjust width of filter panel component
  README-ja.md
  README-zh.md
  README.md
  packages/design/src/components/button/ButtonGroup.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @jikkai, @ybzky, @yuhongz

fix(sheets-filter-ui): adjust width of filter panel component (#5518)
  README-ja.md
  README-zh.md
  README.md
  packages/design/src/components/button/ButtonGroup.tsx
  packages/sheets-filter-ui/src/views/components/SheetsFilterPanel.tsx
Owners: @jikkai, @ybzky, @yuhongz
