Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev

fix: dependency loop in statusbar comp (#4701)
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
Owners: @jikkai, @wzhudev

chore: better code
  packages/engine-render/src/scene.input-manager.ts
Owners: @lumixraku

fix: capture object
  packages/engine-render/src/scene.input-manager.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/shape/base-scroll-bar.ts
  packages/engine-render/src/shape/scroll-bar.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
Owners: @lumixraku, @jikkai, @wzhudev

chore: chore
  packages/engine-render/src/scene.input-manager.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/shape/scroll-bar.ts
Owners: @lumixraku

feat: update
  packages/docs-ui/src/views/rich-text-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir

fix(formula): e2e
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-current-worksheet-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-other-worksheet-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-hide-row-current-worksheet-chromium-linux.png
Owners: none

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/docs-ui/src/services/editor/editor.ts
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-ranges-highlight.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
  packages/thread-comment-ui/src/views/thread-comment-editor/index.tsx
Owners: @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir, @weird94

chore: add `onlyBuiltDependencies` list
  package.json
Owners: @jikkai

feat: update
  packages/sheets-formula-ui/src/index.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
  packages/sheets-formula-ui/src/views/range-selector-new/util.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.module.less
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.tsx
  packages/sheets-hyper-link-ui/src/views/CellLinkEdit/index.tsx
Owners: @Gggpound, @weird94

feat: update
  packages/sheets-formula-ui/src/sheets-formula-ui.plugin.ts
  packages/sheets-ui/src/basics/editor/range.ts
  packages/sheets-ui/src/views/defined-name/DefinedNameInput.tsx
  packages/sheets-ui/src/views/permission/panel-detail/PermissionDetailMainPart.tsx
  packages/sheets-ui/src/views/permission/panel-detail/PermissionDetailPanel.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir, @jikkai

feat: update
  packages/docs-ui/src/views/rich-text-editor/index.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/index.tsx
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @jikkai, @Jocs, @Gggpound, @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-ui/src/basics/editor/range.ts
Owners: @jikkai, @wzhudev

feat: update
  packages/docs-ui/src/services/selection/doc-selection-render.service.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @jikkai, @Jocs, @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/docs-ui/src/services/editor/editor.ts
  packages/docs-ui/src/services/selection/doc-selection-render.service.ts
Owners: @jikkai, @Jocs

feat: update
  packages/sheets-data-validation-ui/src/views/components/item/index.tsx
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-ranges-highlight.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-hyper-link-ui/src/views/CellLinkEdit/index.tsx
Owners: @weird94

chore: chore
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/defaultstyle-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/facade-sheet-hooks-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-ci-chromium-linux.png
Owners: none

chore(snapshots): update snapshots 13
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
Owners: none

fix: mouse enter leave (#4696)
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/defaultstyle-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/facade-sheet-hooks-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-force-string-cell-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/set-text-format-number-cell-ci-chromium-linux.png
  packages/engine-render/src/scene.input-manager.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/shape/base-scroll-bar.ts
  packages/engine-render/src/shape/scroll-bar.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
Owners: @lumixraku, @jikkai, @wzhudev

feat: update
  packages/core/src/index.ts
Owners: @wzhudev

fix(sheet): fix auto heigt cause some code error
  packages/sheets-ui/src/controllers/auto-height.controller.ts
Owners: @jikkai, @wzhudev

fix(sheet): fix auto heigt cause some code error (#4705)
  packages/sheets-ui/src/controllers/auto-height.controller.ts
Owners: @jikkai, @wzhudev

fix(sheet): the range may be undefined
  packages/sheets-ui/src/controllers/auto-height.controller.ts
Owners: @jikkai, @wzhudev

feat(sheets-ui): improve styles in sheets-ui
  examples/package.json
  examples/src/sheets/custom-menu/commands/operations/dropdown-list.operation.ts
  examples/src/sheets/custom-menu/commands/operations/single-button.operation.ts
  examples/src/sheets/custom-menu/controllers/custom-menu.controller.ts
  examples/src/sheets/custom-menu/controllers/menu/dropdown-list.menu.ts
  examples/src/sheets/custom-menu/controllers/menu/single-button.menu.ts
  examples/src/sheets/custom-menu/index.ts
  examples/src/sheets/custom-menu/locale/en-US.ts
  examples/src/sheets/custom-menu/locale/zh-CN.ts
  examples/src/sheets/custom-menu/plugin.ts
  examples/src/sheets/main.ts
  package.json
  packages/core/package.json
  packages/design/src/components/input/Input.tsx
  packages/sheets-conditional-formatting/package.json
  packages/sheets-formula-ui/src/views/more-functions/select-function/SelectFunction.tsx
  packages/sheets-ui/src/services/editor/cell-editor-resize.service.ts
  packages/sheets-ui/src/views/defined-name/DefinedName.tsx
  packages/sheets-ui/src/views/defined-name/index.module.less
  packages/sheets-ui/src/views/sheet-bar/SheetBar.tsx
  packages/sheets-ui/src/views/sheet-bar/index.module.less
  packages/sheets-ui/src/views/sheet-bar/sheet-bar-menu/index.module.less
  packages/sheets-ui/src/views/sheet-container/SheetContainer.tsx
  packages/sheets-ui/src/views/sheet-container/index.module.less
  packages/ui/src/views/components/sidebar/Sidebar.tsx
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev, @Gggpound, @DR-Univer, @Dushusir, @Jocs

refactor: replace Popover with Dropdown in various components and clean up styles
  packages-experimental/debugger/src/views/watermark/WatermarkTextSetting.tsx
  packages-experimental/debugger/src/views/watermark/index.module.less
  packages-experimental/uniui/src/views/uni-controls/UniControls.tsx
  packages/design/src/components/color-picker/ColorInput.tsx
  packages/design/src/components/dropdown-legacy/DropdownLegacy.tsx
  packages/design/src/components/dropdown/Dropdown.stories.tsx
  packages/design/src/components/dropdown/Dropdown.tsx
  packages/design/src/components/dropdown/Popover.tsx
  packages/design/src/components/dropdown/index.ts
  packages/design/src/components/menu/index.module.less
  packages/design/src/components/popover/Popover.stories.tsx
  packages/design/src/index.ts
  packages/drawing-ui/src/views/image-popup-menu/ImagePopupMenu.tsx
  packages/drawing-ui/src/views/image-popup-menu/index.module.less
  packages/sheets-conditional-formatting-ui/src/components/color-picker/index.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/ColorScale.tsx
  packages/sheets-conditional-formatting-ui/src/components/panel/rule-edit/IconSet.tsx
  packages/sheets-ui/src/components/border-panel/BorderPanel.tsx
  packages/sheets-ui/src/components/border-panel/index.module.less
  packages/sheets-ui/src/views/clipboard/ClipboardPopupMenu.tsx
  packages/sheets-ui/src/views/defined-name/DefinedName.tsx
  packages/sheets-ui/src/views/operate-container/AutoFillPopupMenu.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
  packages/sheets-ui/src/views/status-bar/index.module.less
  packages/slides-ui/src/components/image-popup-menu/ImagePopupMenu.tsx
  packages/slides-ui/src/components/panels/FillPanel.tsx
  packages/thread-comment-ui/src/views/thread-comment-tree/index.tsx
  packages/ui/src/components/slider/Slider.tsx
  packages/ui/src/views/components/ribbon/ToolbarItem.tsx
  packages/ui/src/views/components/ribbon/TooltipButtonWrapper.tsx
Owners: @jikkai, @weird94, @Gggpound, @wzhudev, @Jocs

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-gridlines.spec.ts-snapshots/sheets-no-gridlines-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts-snapshots/switching-render-unit-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
Owners: none

fix: fix type issues
  packages/sheets-ui/src/views/sheet-container/SheetContainer.tsx
Owners: @jikkai, @wzhudev

chore(design): mark Dropdown components as deprecated
  packages/design/src/components/dropdown/DropdownContext.tsx
  packages/design/src/components/dropdown/DropdownOverlay.tsx
  packages/design/src/components/dropdown/DropdownProvider.tsx
  packages/design/src/components/dropdown/DropdownTrigger.tsx
  packages/design/src/components/dropdown/index.ts
Owners: @jikkai

refactor(tests): update ColorPicker snapshots with improved accessibility attributes and styling
  packages/design/src/components/color-picker/__tests__/__snapshots__/index.spec.tsx.snap
Owners: @jikkai

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-selection-change.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

test: fix e2e
  packages/design/src/components/dropdown/DropdownContext.tsx
  packages/design/src/components/dropdown/DropdownOverlay.tsx
  packages/design/src/components/dropdown/DropdownProvider.tsx
  packages/design/src/components/dropdown/DropdownTrigger.tsx
  packages/design/src/components/dropdown/index.ts
  packages/design/src/index.ts
  packages/sheets-ui/src/views/formula-bar/FormulaBar.tsx
  packages/ui/src/components/slider/__test__/index.spec.tsx
  packages/ui/src/views/components/ribbon/TooltipButtonWrapper.tsx
Owners: @jikkai, @wzhudev, @Jocs

chore(snapshots): update snapshots
  .github/workflows/update-snapshots-manually.yml
  e2e/visual-comparison/sheets/sheets-visual-comparison.spec.ts-snapshots/default-sheet-fullpage-ci-chromium-linux.png
Owners: @jikkai, @wzhudev, @hexf00

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/index.module.less
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-selection-change.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir
