Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix: the filtered content is not included in the clear
  packages/design/src/components/tree/Tree.tsx
  packages/sheets-conditional-formatting-ui/src/controllers/cf.copy-paste.controller.ts
  packages/sheets-data-validation-ui/src/controllers/dv-copy-paste.controller.ts
  packages/sheets-hyper-link-ui/src/controllers/copy-paste.controller.ts
  packages/sheets-ui/src/controllers/utils/range-tools.ts
  packages/sheets-ui/src/index.ts
  packages/sheets-ui/src/services/auto-fill/auto-fill.service.ts
  packages/sheets-ui/src/services/clipboard/clipboard.service.ts
  packages/sheets/src/basics/interfaces/selection-config.ts
  packages/sheets/src/basics/utils.ts
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @Gggpound, @weird94, @wzhudev, @yuhongz, @VicKun4937

chore: fix test
  packages/sheets/src/commands/commands/clear-selection-all.command.ts
  packages/sheets/src/commands/commands/clear-selection-content.command.ts
  packages/sheets/src/commands/commands/clear-selection-format.command.ts
Owners: @wzhudev, @VicKun4937

chore: fix generate facade should execute before hook
  packages/sheets-ui/src/facade/f-range.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-hyper-link-ui/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-hyper-link/src/facade/f-range.ts
  packages/sheets-hyper-link/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-worksheet.ts
  packages/sheets-numfmt/src/facade/f-workbook.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-filter.ts
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-find-replace/src/facade/f-text-finder.ts
  packages/sheets-find-replace/src/facade/f-univer.ts
  packages/sheets-formula/src/facade/f-formula.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-numfmt/src/facade/f-range.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-sort/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore: fix undo order
  packages/sheets/src/commands/commands/remove-row-col.command.ts
Owners: @wzhudev, @VicKun4937

docs(facade): supplement notes and example
  packages/sheets-sort/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

docs(facade): supplement notes and example (#4686)
  packages/sheets-filter/src/facade/f-event.ts
  packages/sheets-filter/src/facade/f-filter.ts
  packages/sheets-filter/src/facade/f-range.ts
  packages/sheets-filter/src/facade/f-worksheet.ts
  packages/sheets-find-replace/src/facade/f-text-finder.ts
  packages/sheets-find-replace/src/facade/f-univer.ts
  packages/sheets-formula/src/facade/f-formula.ts
  packages/sheets-hyper-link-ui/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-event.ts
  packages/sheets-hyper-link/src/facade/f-range.ts
  packages/sheets-hyper-link/src/facade/f-workbook.ts
  packages/sheets-hyper-link/src/facade/f-worksheet.ts
  packages/sheets-numfmt/src/facade/f-range.ts
  packages/sheets-numfmt/src/facade/f-workbook.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-sort/src/facade/f-worksheet.ts
Owners: @weird94, @VicKun4937

chore(snapshots): update snapshots
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-current-worksheet-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-filter-row-other-worksheet-ci-chromium-linux.png
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts-snapshots/formula-hide-row-current-worksheet-ci-chromium-linux.png
Owners: none

fix(formula): formula update after hide row column
  packages/sheets-formula-ui/src/controllers/__tests__/update-formula.controller.spec.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix(filter): test with dirty range
  packages/sheets-filter-ui/package.json
  packages/sheets-filter-ui/src/commands/commands/__tests__/sheets-filter.command.spec.ts
  packages/sheets-filter-ui/src/commands/operations/__tests__/sheets-filter.operation.spec.ts
  packages/sheets-filter-ui/src/controllers/__tests__/sheets-filter.menu.spec.ts
  packages/sheets-filter-ui/src/services/__tests__/sheets-filter-panel.service.spec.ts
  pnpm-lock.yaml
Owners: @ybzky, @yuhongz

fix(formula): add e2e test
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts
  packages-experimental/debugger/src/controllers/e2e/e2e.controller.ts
Owners: none

fix(formula): remove hide column dirty range
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @VicKun4937

fix(filter): register formula dirty range
  packages/engine-formula/src/services/current-data.service.ts
  packages/sheets-filter/package.json
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/plugin.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
  packages/sheets-formula/src/controllers/active-dirty.controller.ts
  pnpm-lock.yaml
Owners: @Dushusir, @wzhudev, @ybzky, @yuhongz, @DR-Univer

fix(formula): get hidden rows by filter
  packages/engine-formula/src/basics/common.ts
  packages/engine-formula/src/controller/calculate.controller.ts
  packages/engine-formula/src/index.ts
  packages/engine-formula/src/models/formula-data.model.ts
  packages/engine-formula/src/services/current-data.service.ts
  packages/sheets-filter/src/controllers/sheets-filter.controller.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
  packages/sheets-formula/src/controllers/trigger-calculation.controller.ts
  packages/sheets-formula/src/controllers/update-formula.controller.ts
Owners: @Dushusir, @wzhudev, @ybzky, @yuhongz, @DR-Univer

ci: eslint
  e2e/visual-comparison/sheets/sheets-formula-related.spec.ts
  packages/sheets-filter/src/services/sheet-filter-formula.service.ts
Owners: @ybzky, @yuhongz

feat: opt for hide statistic in statusbar
  packages/core/src/common/const.ts
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @jikkai, @VicKun4937

fix: scrollbar size may be 0
  packages/engine-render/src/shape/scroll-bar.ts
Owners: @lumixraku

chore: better code
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
Owners: @jikkai, @wzhudev

test: selection dom pos
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @jikkai, @wzhudev

fix: style for dropdown
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

feat: config for float statistic
  packages/core/src/common/const.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @jikkai, @VicKun4937

fix: add translation & limit 3
  packages/core/src/services/lifecycle/lifecycle.service.ts
  packages/design/src/index.ts
  packages/design/src/themes/index.ts
  packages/design/src/themes/theme.ts
  packages/sheets-ui/src/services/status-bar.service.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @wzhudev, @jikkai

chore: try use new dropdown
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

fix: use primay theme color
  packages/design/src/index.ts
  packages/design/src/themes/index.ts
  packages/design/src/themes/theme.ts
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

fix: anchor label
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

test: try to customize statistic float
  packages/core/src/services/lifecycle/lifecycle.service.ts
  packages/sheets-ui/src/services/status-bar.service.ts
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @wzhudev, @jikkai

fix: little fix dropdown style
  packages/sheets-ui/src/views/operate-container/OperateContainer.tsx
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
  packages/sheets-ui/src/views/operate-container/index.module.less
Owners: @jikkai, @wzhudev

fix: capture object
  packages/engine-render/src/scene.input-manager.ts
  packages/engine-render/src/scene.ts
  packages/engine-render/src/shape/base-scroll-bar.ts
  packages/engine-render/src/shape/scroll-bar.ts
  packages/sheets-ui/src/services/selection/base-selection-render.service.ts
Owners: @lumixraku, @jikkai, @wzhudev

fix: change color
  packages/sheets-ui/src/views/operate-container/SelectionStatistic.tsx
Owners: @jikkai, @wzhudev

fix: scrollbar size may be 0 (#4695)
  packages/engine-render/src/shape/scroll-bar.ts
Owners: @lumixraku

chore: mv cfg to sheets-ui
  packages/core/src/common/const.ts
  packages/sheets-ui/src/controllers/config.schema.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
  packages/sheets/src/controllers/config.schema.ts
  packages/sheets/src/sheets-plugin.ts
Owners: @wzhudev, @jikkai, @VicKun4937

chore: chore
  packages/engine-render/src/scene.input-manager.ts
Owners: @lumixraku

feat: hide statistic opt (#4694)
  packages/sheets-ui/src/controllers/config.schema.ts
  packages/sheets-ui/src/plugin.ts
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
Owners: @jikkai, @wzhudev

fix(sheet): avoid auto height too many rows
  packages/sheets-ui/src/controllers/auto-height.controller.ts
  packages/sheets-ui/src/controllers/config.schema.ts
Owners: @jikkai, @wzhudev

fix(sheet): avoid auto height too many rows (#4700)
  packages/sheets-ui/src/controllers/auto-height.controller.ts
  packages/sheets-ui/src/controllers/config.schema.ts
Owners: @jikkai, @wzhudev

fix: dependency loop in statusbar comp
  packages/sheets-ui/src/views/status-bar/StatusBar.tsx
Owners: @jikkai, @wzhudev

feat: update
  examples-node/src/locales.ts
  packages/core/src/docs/data-model/document-data-model.ts
  packages/core/src/index.ts
  packages/design/src/components/input/Input.tsx
  packages/docs-ui/src/index.ts
  packages/docs-ui/src/services/editor/editor.ts
  packages/docs-ui/src/views/rich-text-editor/hooks/use-editor.ts
  packages/docs-ui/src/views/rich-text-editor/hooks/use-on-change.ts
  packages/docs-ui/src/views/rich-text-editor/index.tsx
  packages/sheets-data-validation-ui/src/views/components/detail/index.tsx
  packages/sheets-formula-ui/src/index.ts
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-ranges-highlight.ts
  packages/sheets-formula-ui/src/views/range-selector-new/hooks/use-selection-change.ts
  packages/sheets-formula-ui/src/views/range-selector-new/index.module.less
  packages/sheets-formula-ui/src/views/range-selector-new/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-highlight.ts
  packages/sheets-formula-ui/src/views/range-selector/index.tsx
Owners: @wzhudev, @jikkai, @Jocs, @DR-Univer, @Dushusir

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
