Repository dream-num/univer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jikkai, @wzhudev, @hexf00, @Gggpound, @weird94, @Dushusir, @lumixraku, @Jocs, @siam-ese, @ybzky, @VicKun4937, @yuhongz, @DR-Univer

fix(sheet): row height no ranges
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets/src/basics/const/command-listener-const.ts
Owners: @weird94, @VicKun4937, @wzhudev

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useFormulaSelection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/useSheetSelectionChange.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/useHighlight.ts
  packages/sheets-formula-ui/src/views/range-selector/utils/filterReferenceNode.ts
  packages/sheets-formula-ui/src/views/range-selector/utils/findIndexFromSequenceNodes.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-highlight.ts
  packages/sheets-formula-ui/src/views/range-selector/utils/find-index-from-sequence-nodes.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

test(e2e): waiting render
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
Owners: none

fix(sheet): row height no ranges (#4629)
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets/src/basics/const/command-listener-const.ts
Owners: @weird94, @VicKun4937, @wzhudev

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/utils/find-index-from-sequence-nodes.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  examples/src/sheets-multi/main.tsx
Owners: none

chore: use Event to prevent Node.js error
  packages/network/src/services/web-socket/web-socket.service.ts
Owners: @wzhudev

fix(sheet): add remove func to serivce (#4625)
  packages/sheets/src/services/range-theme-service.ts
Owners: @wzhudev, @VicKun4937

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

test: increase threshold
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
Owners: none

chore: use Event to prevent Node.js error (#4633)
  e2e/visual-comparison/sheets/sheets-switching-render-unit.spec.ts
  packages/network/src/services/web-socket/web-socket.service.ts
Owners: @wzhudev

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: comment
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix: set header size in freeze viewport
  packages/sheets-ui/src/controllers/menu.schema.ts
  packages/sheets-ui/src/controllers/menu/insert.menu.ts
  packages/sheets-ui/src/controllers/render-controllers/sheet.render-controller.ts
  packages/sheets-ui/src/locale/en-US.ts
  packages/sheets-ui/src/locale/zh-CN.ts
  packages/sheets/src/commands/commands/insert-row-col.command.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
Owners: @jikkai, @wzhudev, @VicKun4937

fix: add multi rows above & below
  packages/sheets/src/commands/commands/insert-row-col.command.ts
  packages/sheets/src/commands/commands/utils/selection-utils.ts
Owners: @wzhudev, @VicKun4937

chore: better code
  packages/sheets-ui/src/components/menu-item-input/MenuItemInput.tsx
  packages/sheets-ui/src/controllers/menu.schema.ts
  packages/ui/src/components/menu/desktop/Menu.tsx
  packages/ui/src/services/contextmenu/contextmenu.service.ts
Owners: @jikkai, @wzhudev, @Jocs

test: input value bug?
  packages/sheets/src/services/selections/selection.service.ts
  packages/ui/src/components/menu/desktop/Menu.tsx
  packages/ui/src/services/contextmenu/contextmenu.service.ts
  packages/ui/src/views/components/context-menu/ContextMenu.tsx
Owners: @wzhudev, @VicKun4937, @jikkai, @Jocs

feat: use useObserable instead of useEffect on my own
  packages/ui/src/components/menu/desktop/Menu.tsx
Owners: @jikkai, @Jocs

chore: add insert above
  packages/sheets-ui/src/controllers/menu.schema.ts
  packages/sheets-ui/src/controllers/menu/insert.menu.ts
  packages/sheets-ui/src/locale/en-US.ts
  packages/sheets-ui/src/locale/zh-CN.ts
  packages/sheets/src/commands/commands/insert-row-col.command.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @wzhudev, @VicKun4937

chore: add translation
  packages/sheets-ui/src/locale/en-US.ts
  packages/sheets-ui/src/locale/fa-IR.ts
  packages/sheets-ui/src/locale/fr-FR.ts
  packages/sheets-ui/src/locale/ru-RU.ts
  packages/sheets-ui/src/locale/vi-VN.ts
  packages/sheets-ui/src/locale/zh-TW.ts
  packages/sheets/src/commands/commands/__tests__/insert-remove-rows-cols.command.spec.ts
Owners: @jikkai, @wzhudev, @VicKun4937

feat: add insert cols
  packages/sheets-ui/src/components/menu-item-input/MenuItemInput.tsx
  packages/sheets-ui/src/controllers/menu.schema.ts
  packages/sheets-ui/src/controllers/menu/insert.menu.ts
  packages/sheets-ui/src/locale/en-US.ts
  packages/sheets-ui/src/locale/zh-CN.ts
  packages/sheets/src/commands/commands/__tests__/insert-remove-rows-cols.command.spec.ts
  packages/sheets/src/commands/commands/insert-row-col.command.ts
  packages/sheets/src/controllers/basic-worksheet.controller.ts
  packages/sheets/src/index.ts
Owners: @jikkai, @wzhudev, @VicKun4937

fix(sheets-formula-ui): selecion error on formula-editor (#4632)
  examples/src/sheets-multi/main.tsx
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-formula-selection.ts
  packages/sheets-formula-ui/src/views/formula-editor/hooks/use-sheet-selection-change.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-highlight.ts
  packages/sheets-formula-ui/src/views/range-selector/utils/find-index-from-sequence-nodes.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

fix: https://github.com/dream-num/univer/issues/4636
  examples/src/sheets/main.ts
  packages/sheets-ui/src/facade/f-univer.ts
  packages/sheets-zen-editor/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

fix: adjust height when select all
  packages/sheets/src/commands/commands/set-worksheet-row-height.command.ts
Owners: @wzhudev, @VicKun4937

chore: add eslint rule
  common/shared/eslint/index.js
  common/shared/eslint/plugins/no-facade-imports-outside-facade.js
  packages/core/src/facade/f-event-registry.ts
  packages/uniscript/src/services/script-execution.service.ts
Owners: @jikkai, @weird94, @VicKun4937, @wzhudev

refactor: Move facade exports to facade directory and update imports
  examples/src/docs/main.ts
Owners: @wzhudev

fix: fix Injector import
  packages/core/src/facade/f-base.ts
  packages/core/src/facade/f-blob.ts
Owners: @weird94, @VicKun4937

chore: mark redi as an external dependency
  common/shared/package.json
  common/shared/vite/data.ts
  common/storybook/package.json
  examples/package.json
  package.json
  packages-experimental/action-recorder/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-docs-ui/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/core/package.json
  packages/design/package.json
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-mention-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-conditional-formatting/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  packages/uniscript/package.json
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @Dushusir

feat: update
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets-formula-ui/src/views/range-selector/hooks/use-highlight.ts
Owners: @DR-Univer, @wzhudev, @Dushusir

chore: mark redi as an external dependency (#4641)
  common/shared/package.json
  common/shared/vite/data.ts
  common/storybook/package.json
  examples/package.json
  package.json
  packages-experimental/action-recorder/package.json
  packages-experimental/debugger/package.json
  packages-experimental/uni-docs-ui/package.json
  packages-experimental/uni-formula-ui/package.json
  packages-experimental/uni-sheets-ui/package.json
  packages-experimental/uni-slides-ui/package.json
  packages-experimental/uniui/package.json
  packages/core/package.json
  packages/design/package.json
  packages/docs-drawing-ui/package.json
  packages/docs-hyper-link-ui/package.json
  packages/docs-mention-ui/package.json
  packages/docs-thread-comment-ui/package.json
  packages/docs-ui/package.json
  packages/drawing-ui/package.json
  packages/find-replace/package.json
  packages/sheets-conditional-formatting-ui/package.json
  packages/sheets-conditional-formatting/package.json
  packages/sheets-crosshair-highlight/package.json
  packages/sheets-data-validation-ui/package.json
  packages/sheets-drawing-ui/package.json
  packages/sheets-filter-ui/package.json
  packages/sheets-formula-ui/package.json
  packages/sheets-hyper-link-ui/package.json
  packages/sheets-numfmt-ui/package.json
  packages/sheets-sort-ui/package.json
  packages/sheets-thread-comment-ui/package.json
  packages/sheets-ui/package.json
  packages/sheets-zen-editor/package.json
  packages/slides-ui/package.json
  packages/thread-comment-ui/package.json
  packages/ui/package.json
  packages/uniscript/package.json
  pnpm-lock.yaml
Owners: @jikkai, @wzhudev, @weird94, @Jocs, @siam-ese, @Gggpound, @ybzky, @yuhongz, @DR-Univer, @Dushusir

feat: update
  examples/src/sheets/main.ts
  packages/sheets-formula-ui/src/views/formula-editor/index.tsx
  packages/sheets/src/basics/const/command-listener-const.ts
Owners: @DR-Univer, @wzhudev, @Dushusir, @VicKun4937

feat: update
  packages/core/src/facade/f-event-registry.ts
Owners: @weird94, @VicKun4937

fix: facade event issue
  examples/src/sheets/main.ts
  packages/core/src/facade/f-univer.ts
  packages/sheets-crosshair-highlight/src/facade/f-univer.ts
  packages/sheets-sort/src/facade/f-event.ts
  packages/sheets-thread-comment/src/facade/f-univer.ts
  packages/sheets-thread-comment/src/facade/index.ts
  packages/sheets-ui/src/commands/commands/set-zoom-ratio.command.ts
  packages/sheets-ui/src/facade/f-event.ts
Owners: @weird94, @VicKun4937, @jikkai, @wzhudev

feat: update
  packages/sheets/src/facade/f-event.ts
  packages/sheets/src/facade/f-univer.ts
Owners: @weird94, @VicKun4937

.github/CODEOWNERS:

# CODEOWNERS

## project

.github @jikkai @wzhudev @hexf00

common @jikkai

**/package.json @jikkai

## documentation

docs @wzhudev

CONTRIBUTING.md @wzhudev

## core & fundamental

packages/core @wzhudev
packages/core/src/services/resource-loader @Gggpound
packages/core/src/services/resource-manager @Gggpound
packages/core/src/services/permission @Gggpound
packages/design @jikkai
packages/drawing @weird94
packages/drawing-ui @weird94
packages/engine-formula @Dushusir @wzhudev
packages/engine-numfmt @Gggpound
packages/engine-render @lumixraku
packages/engine-render/components/docs @lumixraku @Jocs
packages/find-replace @siam-ese
packages/network @wzhudev
packages/rpc @wzhudev
packages/rpc-node @wzhudev
packages/thread-comment @weird94
packages/thread-comment-ui @weird94
packages/ui @jikkai @Jocs
packages/ui/src/services/clipboard @ybzky
packages/ui/src/services/popup/canvas-popup.service.ts @weird94
packages/uniscript @wzhudev
packages/watermark @ybzky

## sheets

packages/data-validation @weird94
packages/sheets-data-validation @weird94
packages/sheets @wzhudev @VicKun4937
packages/sheets-conditional-formatting @Gggpound
packages/sheets-conditional-formatting-ui @Gggpound
packages/sheets-filter @ybzky @yuhongz
packages/sheets-filter-ui @ybzky @yuhongz
packages/sheets-find-replace @siam-ese
packages/sheets-formula @DR-Univer @wzhudev @Dushusir
packages/sheets-formula-ui @DR-Univer @wzhudev @Dushusir
packages/sheets-graphics @ybzky
packages/sheets-hyper-link @weird94
packages/sheets-hyper-link-ui @weird94
packages/sheets-numfmt @Gggpound
packages/sheets-numfmt-ui @Gggpound
packages/sheets-thread-comment @weird94
packages/sheets-thread-comment-ui @weird94
packages/sheets-ui @jikkai @wzhudev
packages/sheets-ui/src/controllers/clipboard @yuhongz
packages/sheets-ui/src/controllers/editor @Jocs
packages/sheets-ui/src/services/clipboard @yuhongz
packages/sheets-ui/src/services/editor @Jocs
packages/sheets-ui/src/services/editor-bridge.service.ts @Jocs
packages/sheets-zen-editor @Jocs
packages/sheets/src/services/numfmt @Gggpound
packages/sheets/src/services/ref-range @Gggpound
packages/sheets/src/services/ref-range @weird94
packages/sheets/src/services/sheet-interceptor @Gggpound

## docs

packages/docs @Jocs
packages/docs-drawing @weird94
packages/docs-drawing-ui @weird94
packages/docs-hyper-link @weird94
packages/docs-hyper-link-ui @weird94
packages/docs-mention-ui @weird94
packages/docs-thread-comment-ui @weird94
packages/docs-ui @jikkai @Jocs

## slides

packages/slides @jikkai
packages/slides-ui @jikkai

## Facade API

**/facade/** @weird94 @VicKun4937

## Collaboration

**/mutations/** @yuhongz @wzhudev
